
    <form [formGroup]="customerProfileForm" #form="ngForm" class="siz" >
                
        <div class="row">
        <div class="col-md-5 form-group">
        <input placeholder="First Name" type="text" formControlName="firstName" class="form-control" required />
        <div *ngIf="customerProfileForm.controls.firstName.invalid && (customerProfileForm.controls.firstName.dirty || customerProfileForm.controls.firstName.touched)" class="text-danger">
                <div *ngIf="customerProfileForm.controls.firstName.errors.required" class="custom">{{'firstnamerequired'| translate}}</div>
            </div>
        </div>
        
        <div class="col-md-5 form-group">
        <input placeholder="Last Name" type="text" formControlName="lastName" class="form-control" required>
        <div *ngIf="customerProfileForm.controls.lastName.invalid && (customerProfileForm.controls.lastName.dirty || customerProfileForm.controls.lastName.touched)" class="text-danger">
                <div *ngIf="customerProfileForm.controls.lastName.errors.required" class="custom">{{'lastnamerequired'| translate}}</div>
            </div>
        </div>
        </div>
        
        <div class="row">
        
         <div class="col-md-5 form-group">        
                <input  placeholder="Email Id" formControlName="emailId" class="form-control" type="text" required>
                <div *ngIf="customerProfileForm.controls.emailId.invalid && (customerProfileForm.controls.emailId.dirty || customerProfileForm.controls.emailId.touched)"  class="text-danger">
                        <div *ngIf="customerProfileForm.controls.emailId.errors.required" class="custom">{{'emailrequired'| translate}}</div>
                        <div *ngIf="customerProfileForm.controls.emailId.errors.email" class="custom">{{'emailvalid'| translate}}</div>
                    </div>
         </div>
        
        <div class="col-md-5 form-group">
          <input placeholder="Your User ID" type="text" class="form-control" formControlName="userId" required>
          <div *ngIf="customerProfileForm.controls.userId.invalid && (customerProfileForm.controls.userId.dirty || customerProfileForm.controls.userId.touched)" class="text-danger">
                <div *ngIf="customerProfileForm.controls.userId.errors.required" class="custom">{{'useridrequired'| translate}}</div>
            </div>
        </div>
        
        </div>
        
        <div id="country" class="row px-0">
            <div class="col-md-5 form-group cntry"> 
                <input type="text" class="form-control" formControlName="country" [(ngModel)]="country" (click)="clear()" (change)="getStates()" placeholder="Country" list="codes" step="5" min="5" max="200" required [ngClass]="{ 'is-invalid': submitted && customerProfileForm.controls.country.errors }"/>
                <datalist id="codes">
                    <select class="scrollbar">
                    <option *ngFor="let country of countryData" [value]="country.CountryName"></option> 
                    </select>
                </datalist>
                <div *ngIf="customerProfileForm.controls.country.invalid && (customerProfileForm.controls.country.dirty || customerProfileForm.controls.country.touched)" class="text-danger">
                    <div *ngIf="customerProfileForm.controls.country.errors.required" class="custom">{{'selectcountry'| translate}}</div>
                </div>
            </div>
        
           <div class="col-md-3 form-group state">  
               <input type="text" class="form-control" formControlName="State"  [(ngModel)]="State" (click)="stateClear()" (change)="getCities()" placeholder="State" list="statecodes" step="5" min="5" max="200" required [ngClass]="{ 'is-invalid': submitted && customerProfileForm.controls.State.errors }" />
                <datalist id="statecodes">
                  <select class="scrollbar">
                    <option *ngFor="let state of stateData" [value]="state.StateName"></option> 
                  </select>
                </datalist>
                <div *ngIf="customerProfileForm.controls.State.invalid && (customerProfileForm.controls.State.dirty || customerProfileForm.controls.State.touched)" class="text-danger">
                    <div *ngIf="customerProfileForm.controls.State.errors.required" class="customs">{{'selectstate'| translate}}</div>
                </div>    
            </div>
        
            <div class="col-md-3 form-group city"> 
                <input type="text" class="form-control" formControlName="City"  [(ngModel)]="City" (click)="cityClear()" placeholder="City" list="citycodes" step="5" min="5" max="200" required [ngClass]="{ 'is-invalid': submitted && customerProfileForm.controls.City.errors }" />
                    <datalist id="citycodes" >
                        <select class="scrollbar" >
                            <option *ngFor="let city of cityData" [value]="city"></option> 
                        </select>
                    </datalist>   
                <div *ngIf="customerProfileForm.controls.City.invalid && (customerProfileForm.controls.City.dirty || customerProfileForm.controls.City.touched)" class="text-danger">
                    <div *ngIf="customerProfileForm.controls.City.errors.required" class="customs">{{'selectcity'| translate}}</div>
                </div>                 
            </div>
        </div>
        
        <div class="row px-0">
            <div class="col-md-5 form-group"> 
                <input placeholder="Phone Number" type="text" class="form-control" formControlName="phoneNumber" [ngClass]="{ 'is-invalid': submitted && customerProfileForm.controls.phoneNumber.errors }" required>
                    <div *ngIf="customerProfileForm.controls.phoneNumber.invalid && (customerProfileForm.controls.phoneNumber.dirty || customerProfileForm.controls.phoneNumber.touched)" class="text-danger">
                        <div *ngIf="customerProfileForm.controls.phoneNumber.errors.required" class="custom">{{'phonenumberrequired'| translate}}</div>
                        <div *ngIf="customerProfileForm.controls.phoneNumber.errors.pattern" class="custom">{{'phonenumbervalid'| translate}}</div> 
                        <div *ngIf="customerProfileForm.controls.phoneNumber.errors.minlength" class="custom">{{'phonenumberdigit'| translate}}</div>
                    </div>
            </div>
            <div class="col-md-5 form-group">
                <input placeholder="Reference Code" type="text" class="form-control" formControlName="referenceCode" [ngClass]="{ 'is-invalid': submitted && customerProfileForm.controls.referenceCode.errors }" required>
                     <div *ngIf="customerProfileForm.controls.referenceCode.invalid && (customerProfileForm.controls.referenceCode.dirty || customerProfileForm.controls.referenceCode.touched)" class="text-danger">
                        <div *ngIf="customerProfileForm.controls.referenceCode.errors.required" class="custom">{{'referencecoderequired'| translate}}</div>
                    </div>
             </div>
        </div>
        
        <div class="row">
            <div class="col-md-3">
                    <button (click)="reset()" class="btn btn-secondary">{{'resetall'| translate}}</button>
            </div>
            <div class="col-md-3 offset-md-4">
                    <button (click)="continue()" [disabled]="customerProfileForm.pristine || customerProfileForm.invalid"  class="btn btn-primary">{{'continue'| translate}}</button>
            </div>
        </div>
   
        </form>

        

       
