<div class="row">
    <div class="col">
        <h2 class="page_heading new_order float-left">{{'orderview'| translate}}</h2>
        <button type="button" class="btn btn-orange float-right" (click)="goPrevious()">{{'back'| translate}}</button>  
    </div>
</div>
<div class="mt-1">
    <app-ngx-easy-table [configuration]="configuration" [data]="data" [columns]="columns">
    </app-ngx-easy-table>
</div>
<!-- Download Excel Data -->

<ng-template #download let-row let-rowIndex="rowIndex">
        <button class="btn btn-md btn-outline-warning" (click)="downloadData(row)" [disabled]="row.submit === false">
            <i class="fa fa-download"></i>
        </button>
        <!-- <a *ngIf="row.submit === true" (click)="downloadData(row)"><i class="fa fa-download"></i></a>
        <a *ngIf="row.submit === false" class="disabled"><i class="fa fa-download"></i></a> -->
</ng-template>