.fa{
    font-size: 20px;
    padding: 2px;
  }
  .btn{
    padding-right: 20px;
    padding-left: 20px;  
    position: center;
  }
  /* a.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    text-decoration: none;
} */