
  /*navigation start*/
.navbar{
  display: block;
  padding: 0;
  margin: 0;
  background: #fff;
    padding: 15px;
}
.navbar-brand{
  font-size: 20px;
  color: #000;
}
.wrapper {
  display: flex;
  width: 100%;
}
#sidebar ul p {
  color: #fff;
  padding: 10px;
}



#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #fff;
  background: #6d7fcc;
}
ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

#sidebar .sidebar-header {
  padding: 15px 0 0 15px;
  display: inline-block;
}

#sidebar ul.components {
  padding: 15px;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li{
  padding: 10px 0;
}
#sidebar ul li a {
  // padding: 10px;
  font-size: 1.4em;
  display: block;
  color: #000;
  line-height: 20px;
}
#sidebar ul li a:hover {
  color: #f08843;
  text-decoration: none;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #fff;
  background: #6d7fcc;
}
ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}
#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
}
#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow-x: auto;
  z-index: 999;
  background: #fff;
  color: #fff;
  transition: all 0.3s;
}
#sidebar.active {
  margin-left: -250px;
  /* transform: rotateY(100deg); */
}
@media (max-width: 768px) {
  #sidebar {
      margin-left: -250px;
  }
  #sidebar.active {
      margin-left: 0;
  }
}
#content {
  width: calc(100% - 250px);
  padding: 0px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}

#content.active {
  width: 100%;
}

.user_cntnt{
  padding: 0 0 0 45px;
  background: url('../../../../../assets/images/dp.png') no-repeat;
  background-position: center left;
  background-size: contain;
  display: block;
  height: 40px;
  line-height: 16px;
  font-weight: bold;
  margin: 0 15px 0 0;
}
.user_cntnt .user_lbl{
  display: block;
  color: #707070;
}
.user_cntnt .user_name{
  color: #000;
}
#header_dd.dropdown{
  margin: 3px 0 5px;
  font-size: 16px;
}

@media (max-width: 768px) {
  #sidebar {
      margin-left: -250px;
  }
  #sidebar.active {
      margin-left: 0;
  }
  #content {
      width: 100%;
  }
  #content.active {
      width: calc(100% - 250px);
  }
  #sidebarCollapse span {
      display: none;
  }
}
/*navigation end*/

/*sidebar start*/
#sidebar .menu_icon{
  padding: 0 0 0 35px;
  background-size: contain;
}
.menu_icon.dashboard{
  background: url('../../../../../assets/images/menu_icons/dashboard.png') no-repeat;
}
.menu_icon.upload{
  background: url('../../../../../assets/images/menu_icons/upload.png') no-repeat;
}
.menu_icon.new_order{
  background: url('../../../../../assets/images/menu_icons/newordr.png') no-repeat;
}
.menu_icon.updtd_order{
  background: url('../../../../../assets/images/menu_icons/updatedordr.png') no-repeat;
}
.menu_icon.prcsd_order{
  background: url('../../../../../assets/images/menu_icons/procesedordr.png') no-repeat;
}
.menu_icon.prvs_order{
  background: url('../../../../../assets/images/menu_icons/prvsordr.png') no-repeat;
}
.menu_icon.dwnload{
  background: url('../../../../../assets/images/menu_icons/download.png') no-repeat;
}
.menu_icon.prfile{
  background: url('../../../../../assets/images/menu_icons/prfile.png') no-repeat;
}
.menu_icon.custmr_dtls{
  background: url('../../../../../assets/images/menu_icons/custmrdtls.png') no-repeat;
}
.menu_icon.creat_usrs{
  background: url('../../../../../assets/images/menu_icons/createusr.png') no-repeat;
}
/*sidebar end*/