<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active"  [routerLink]="['dashbord']" routerLinkActive="router-link-active"  >
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['dashbord/upload']" routerLinkActive="router-link-active">
                    <i class="fa fa-upload" aria-hidden="true"></i>Upload
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['dashbord/neworders']" routerLinkActive="router-link-active">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>New Orders
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['updatedorders']" routerLinkActive="router-link-active">
                    <i class="fa fa-pencil-square" aria-hidden="true"></i>Updated Orders
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa fa-check-square" aria-hidden="true"></i>Processed Orders
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>Previous Orders
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa fa-download" aria-hidden="true"></i>{{'DownloadExcel' | translate}}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['profile']" routerLinkActive="router-link-active">
                    <i class="fa fa-user" aria-hidden="true"></i>{{'Profile' | translate}}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['customerdetails']" routerLinkActive="router-link-active">
                    <i class="fa fa-users" aria-hidden="true"></i>{{'customerdetails'| translate}}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['createuser']" routerLinkActive="router-link-active">
                    <i class="fa fa-user-plus" aria-hidden="true"></i>{{'CreateUsers' | translate}}
                </a>
            </li>
        </ul>
    </div>
  </nav>
  