<div class="text-center txt"><h2>Order Details</h2></div>
<div class="border p-5">
    <app-ngx-easy-table [configuration]="configuration" [data]="data" [columns]="columns"></app-ngx-easy-table>
    
    <app-pagination [pager]=pager (clicked)="loadPage($event)"></app-pagination>

</div>

<ng-template #ver let-row let-rowIndex="rowIndex">          
        <button class="btn btn-md   ml-4" id="verbasedata" (click)="ordersview(row)" ><i class="fa fa-eye" aria-hidden="true"></i>View</button>    
 </ng-template>