<div class="row">
    <div class="col-md-4">
        <h2 class="page_heading new_order">{{'myorders'| translate}}</h2>
    </div>
    <div class="col-md-8">
        <div class="form-inline" id="search_bar">
            <div class="form-group mr-1">
                <input type="text" [(ngModel)]="customerId" class="form-control" (keyup)="search($event)" placeholder="Search....">
            </div>
            <button class="btn btn-secondary btn-sm" (click)="getPerticularSalesNo(customerId)" [disabled]="!customerId">{{'searchbysalesno'| translate}}</button>
        </div>
        <div class="form-inline ml-3" id="search_bar">
            <div class="form-group mr-1">
                <input type="text" [(ngModel)]="productionNo" class="form-control" (keyup)="search($event)" placeholder="Search....">
            </div>
            <button class="btn btn-secondary btn-sm" (click)="getPerticularProductionNo(productionNo)" [disabled]="!productionNo">{{'searchbyproductionno'| translate}}</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <app-ngx-easy-table [configuration]="configuration" [data]="data" [columns]="columns"></app-ngx-easy-table>
        <app-pagination [pager]=pager (clicked)="loadPage($event)"></app-pagination>
    </div>
</div>

<ng-template #ver let-row let-rowIndex="rowIndex">
    <a class="ml-2" (click)="ordersview(row,rowIndex)">
        <i class="fa fa-eye" aria-hidden="true"></i>
    </a>
</ng-template>