<h2 class="page_heading new_order">{{'neworders'| translate}}</h2>

<div class="row">
    <div class="col">
        <app-ngx-easy-table [configuration]="configuration" [data]="data" [columns]="columns"></app-ngx-easy-table>
        <app-pagination [pager]=pager (clicked)="loadPage($event)"></app-pagination>
    </div>
</div>


<ng-template #ver let-row let-rowIndex="rowIndex">
    <button class="btn btn-sm" (click)="ordersview(row,rowIndex)">
        <i class="fa fa-eye" aria-hidden="true"></i>
        <!-- {{'view'| translate}} -->
    </button>
</ng-template>