<form [formGroup]="legsForm" (ngSubmit)="onSubmit()">
<div class="row">
    <div class="col-md-7"><h2>Enter Number of Legs</h2></div>

    <div class="col-md-2"><input type="text" formControlName="rownum" class="form-control" [ngClass]="{ 'is-invalid': submitted && legsForm.controls.rownum.errors }" required /></div>
    <div *ngIf="submitted && legsForm.controls.rownum.errors" class="text-danger">
        <div *ngIf="legsForm.controls.rownum.errors.required">Number of legs  required</div>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-7"></div>
    <div class="col-md-4"><button class="btn btn-primary">SUBMIT</button></div>
</div>
</form>

<!-- <div class="hottable">
<hot-table [data]="data" [hotId]="id" [columns]="col" [colHeaders]="true" [rowHeaders]="true" [width]="600" [height]="300" [minRows]=rownum [minCols]=colmin [minSpareRows]="1" [minSpareCols]="1">
</hot-table>
</div> -->