<div class="row">
    <div class="col">
        <h2 class="page_heading upload float-left">{{'uploadmarktextexcel'| translate}}</h2>
        <div class="float-right">
            <button type="button" class="btn p-2 ml-2" placement="bottom" [ngbTooltip]="tipContent"
                tooltipClass="my-custom" container="body">
                <i class="fa fa-info-circle" aria-hidden="true" style="font-size: 16px;"></i>
            </button>
            <!-- <button class="btn btn-orange" (click)="downloadSample()">{{'downloadsamplefile'| translate}}</button>&nbsp; -->
            <a href="../../../assets/data/samplemarkingtext.xlsx" target="_self" class="btn btn-orange" download>{{'downloadsamplefile'| translate}}</a> &nbsp;
            <button type="button" class="btn btn-orange" (click)="goPrevious()">{{'back'| translate}}</button>
        </div>
    </div>
</div>
<div *ngIf="msg" class="alert alert-success alert-dismissible" data-auto-dismiss role="alert">
    <button class="close" aria-label="close" data-dismiss="alert">&times;</button>
    <span id="alertMsg">{{msg}}</span>
</div>
<div *ngIf="errorMsg" class="alert alert-danger alert-dismissible" data-auto-dismiss role="alert">
    <button class="close" aria-label="close" data-dismiss="alert">&times;</button>
    <span id="alertErrMsg">{{errorMsg}}</span>
</div>

<div class="row">
    <div class="col-md-4 col-sm-8">
        <div class="input-container">
            <button class="browse-btn" (click)="file.click()">
                {{'Browse'| translate}}
            </button>
            <input type="file" #file accept=".xlsx, .xls, .csv" (change)="OnLoadFile($event)" placeholder="Select file">
            <span class="file-info">{{filename}}</span>
        </div>
        <p class="upload_msg">{{'filenameshould'| translate}}
            <b>dd/mm/yyyy hh:mm</b> {{'format'| translate}}</p>
        <p class="upload_msg">{{'pleaseuploadxcel'| translate}}</p>
    </div>

</div>

<div *ngIf="dataset.length>0">

<div class="row mt-2">
    <div class="col-md-10">
        <hot-table [data]="dataset" [hotId]="id" [columns]="getColumns" [colHeaders]="true" [rowHeaders]="true" [colWidths]="150"
             [height]="300" [startRows]=rownum [minCols]=colmin [minSpareRows]="0" [minSpareCols]="0">
            <hot-column data="L" title="L"></hot-column>
            <hot-column data="R" title="R"></hot-column>
            <hot-column data="O" title="O"></hot-column>
            <hot-column data="rmPartnoLeft" title="RM Part No L"></hot-column>
            <hot-column data="rmPartnoRight" title="RM Part No R"></hot-column>
            <hot-column data="rmPartnomiddle" title="RM Part No O"></hot-column>
        </hot-table>
        <div id="example4" class="hot handsontable htColumnHeaders"></div>
    </div>
    <div class="col-md-2">
        <table class="table table-bordered text-center ">
            <thead>
                <tr>
                    <th>L : Left Text</th>
                </tr>
                <tr>
                    <th>R : Right Text</th>
                </tr>
                <tr>
                    <th>O : Others</th>
                </tr>
                <tr>
                    <th>RM Part No L</th>
                </tr>
                <tr>
                    <th>RM Part No R</th>
                </tr>
                <tr>
                    <th>RM Part No O</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div *ngIf="errorMessage" class="alert alert-warning alert-dismissible" data-auto-dismiss role="alert">
            <button class="close" aria-label="close" data-dismiss="alert">&times;</button>
            <span id="alertMsg">{{errorMessage}}</span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col text-center">
    <div class="float-center">
        <button *ngIf="flag === true" class="btn btn-md btn-orange" (click)="saveData()">{{'save'| translate}}</button> &nbsp;
        <button *ngIf="flag === true"  class="btn btn-md btn-orange" (click)="submitMarkingText()">{{'submit'| translate}}</button>
    </div>
</div>
</div>


</div>






<ng-template #submitConfirm let-c="close" let-d="dismiss">
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-center">
        <h4>Are you sure want to Submit the Data ?</h4>
        <h4>Once submit data can't be edited again!</h4>
    </div>
    <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-orange" ngbAutoFocus (click)="d('Cross click')">{{'Cancel' |translate }}</button>
        <button type="button" class="btn btn-orange" (click)="submitData()">{{'Submit' |translate}}</button>
    </div>
</ng-template>

<ng-template #tipContent>
        <div class="row">
          <div class="col-12">
            <p class="m-0 p-0 text-center">Please Upload Excel in the below Format</p>
            <table class="table">
              <thead>
                <tr class="d-flex">
                  <th class="leftOnly">
                    <div style="width: 90px; font-size: 9px;">Left Marking Text (L)</div>
                  </th>
                  
                  <th>
                    <div style="width: 97px;font-size: 9px;">Right Marking Text (R)</div>
                  </th>
                  <th>
                    <div style="width: 50px;font-size: 9px;">Others (O)</div>
                  </th>
                  <th>
                    <div style="width: 65px;font-size: 9px;">RM Part No L</div></th>
                  <th>
                      <div style="width: 65px;font-size: 9px;">RM Part No R</div>
                    </th>
                  <th>
                      <div style="width: 65px;font-size: 9px;">RM Part No O</div>
                </th>
              </tr>
              </thead>
            </table>
          </div>
        </div>
      </ng-template>
