<!-- <div class="row fixed_btm_brdr">
  <div class="dotted_border"></div>
  <div class="top_brdr btm_brdr"></div>
</div> -->

<div class="cntnt_footer container-fluid">
  <div class="row">
    <div class="col">
      <div class="text-center">
        <ul class="footer_links">
          <li>
            <a href="" target="_blank">About</a>
          </li>
          <li>
            <a href="" target="_blank">Terms</a>
          </li>
          <li>
            <a href="" target="_blank">Privacy</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>