
<div class="cntnt_footer container-fluid">
  <div class="row">
    <div class="col">
      <div class="text-center">
        <ul class="footer_links">
          <li>
            <a href="https://www.lappgroup.com/nc/contact.html" target="_blank">{{'contact'| translate}}</a>
          </li>
          <li>
            <a href="https://www.lappgroup.com/privacy-policy.html" target="_blank">{{'privacypolicy'| translate}}</a>
          </li>
          <li>
            <a href="https://www.lappgroup.com/imprint.html" target="_blank">{{'imprint'| translate}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>