/* .customise{
    margin-top: 30px;
    border: 1px solid rgb(151, 132, 97);
}
.font{
    font-size: 15px;
}
.forgot_cntnr{
    display: block;
    background: #fcf7f5;
    padding: 20px;
    max-width: 600px;
    margin: 9% auto;
    border-radius: 5px;
  } */




.header{
    display: inline-block;
    width: 100%;
    padding: 15px 0;
    margin: 0;
  }
  .forgot_cntnr{
    display: block;
    background: #fcf7f5;
    padding: 20px;
    max-width: 400px;
    margin: 9% auto;
    border-radius: 5px;
  }
  .forgot_cntnr input[type="text"], .forgot_cntnr input[type="password"]{
    padding: 15px;
    border: 1px solid #a3a09e;
    border-radius: 5px;
    font-size: 15px;
  }
  .forgot_cntnr .form-group{
      width: 100%;
  }
  .footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 98%;
    display: inline-block;
  }
  .footer_links{
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .footer_links li{
    float: left;
    margin: 0 10px;
  }
  .footer_links li a{
    color: #000;
  }
  .login_holder{
    background: url('../../../assets/images/login_bg.jpg') no-repeat;
    background-size: cover;
    height: 100vh;
  }
  .login_graphic{
    background: url('../../../assets/images/login_illustration.png') no-repeat center center;
      display: block;
      background-size: contain;
      min-height: 400px;
  }
  .tagline{
    background: #f08843;
    color: #fff;
    display: inline-block;
    font-size: 24px;
    line-height: 35px;
    margin: 15px 0 0 0;
  }
  .tagline span{
    background: #000;
    line-height: 20px;
    padding: 3px 10px;
  }
  