
<div class="forgot_cntnr">
    <div class="col">
            <form [formGroup]="forgotPassword" class="customise" (ngSubmit)="forgot()">
                    <div class="logo p-5">
                        <img src="assets/images/lapp_logo.png" alt="LAPP" />
                    </div>     
                    <h3 class="p-5">{{'forgotpassword' | translate}}</h3>
                    <div class="row">
                        <div class="col text-center">
                                <div *ngIf="successMsg" class="alert alert-success alert-dismissible" data-auto-dismiss role="alert">
                                        <button class="close" aria-label="close" data-dismiss="alert">&times;</button>
                                        <span id="alertMsg">{{successMsg}}</span>
                                    </div>
                                <div *ngIf="errorMsg" class="alert alert-danger alert-dismissible" data-auto-dismiss role="alert">
                                        <button class="close" aria-label="close" data-dismiss="alert">&times;</button>
                                        <span id="alertErrMsg">{{errorMsg}}</span>
                                </div>
                        </div>     
                    </div>
                    <div class="row">
                        <div class="col-md-5 pl-4 mt-1 pr-0 text-center">
                            <label class="font" for="email">{{'enteremailid'| translate}}</label>
                        </div>
                        <div class="col-md-6 pl-0 pr-0 form-group">
                            <input type="text" formControlName="email" class="form-control" placeholder="{{'entertheemailid'| translate}}" required/>
                            <div *ngIf="forgotPassword.controls.email.invalid && (forgotPassword.controls.email.dirty || forgotPassword.controls.email.touched)" class="text-danger">
                                <div *ngIf="forgotPassword.controls.email.errors.required">{{'emailrequired'| translate}}</div>
                                <div *ngIf="forgotPassword.controls.email.errors.email">{{'emailvalid'| translate}}</div>
                            </div>
                        </div>   
                    </div>
                    <div class="row">
                        <div class="col-md-12 p-5 text-center">
                            <button [disabled]="forgotPassword.pristine || forgotPassword.invalid" class="btn btn-warning">{{'submit'| translate}}</button>
                        </div>
                    </div>
                </form>
    </div>
    
</div>

