<div class="container">
    <form [formGroup]="forgotPassword" class="mt-5" (ngSubmit)="forgot()">
        <div class="row">
            <div class="col-md-6 text-center">
                <h3 class="mb-3">{{'forgotpassword' | translate}}</h3>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-2 mt-2 pr-0">
                <label>{{'enteremailid'| translate}}</label>
            </div>
            <div class="col-md-3 pl-0 form-group">
                <input type="text" formControlName="email" class="form-control" placeholder="Email ID" [ngClass]="{ 'is-invalid': submitted && forgotPassword.controls.email.errors }" required/>
                <div *ngIf="submitted && forgotPassword.controls.email.errors" class="text-danger">
                    <div *ngIf="forgotPassword.controls.email.errors.required">{{'emailrequired'| translate}}</div>
                    <div *ngIf="forgotPassword.controls.email.errors.email">{{'emailvalid'| translate}}</div>
                </div>
            </div>   
        </div>
        <div class="row">
            <div class="col-md-6 text-center mt-3">
                <button class="btn btn-warning">{{'submit'| translate}}</button>
            </div>
        </div>
    </form>
</div>

