<div class="row">
    <div class="col">
        <h2 class="page_heading new_order float-left">{{'marktextexcel'| translate}}</h2>
        <button type="button" class="btn btn-orange float-right" (click)="goPrevious()">{{'back'| translate}}</button>
    </div>
</div>

<div *ngIf="firsttime === 1">
    <div class="row mt-2">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <hot-table [data]="data" [hotId]="id" [columns]="getColumns" [colHeaders]="true" [rowHeaders]="true" [colWidths]="200" [width]="700"
                [height]="300" [startRows]=rownum [minCols]=colmin [minSpareRows]="0" [minSpareCols]="0">
            </hot-table>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div *ngIf="errorMessage" class="alert alert-warning alert-dismissible" data-auto-dismiss role="alert">
                <button class="close" aria-label="close" data-dismiss="alert">&times;</button>
                <span id="alertMsg">{{errorMessage}}</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-1">
            <button class="btn btn-md btn-orange" (click)="saveData()">{{'save'| translate}}</button>
        </div>
        <div class="col-md-1 ml-2">
            <button class="btn btn-md btn-orange" (click)="submitData()">{{'submit'| translate}}</button>
        </div>
    </div>
</div>

<div *ngIf="firsttime===0">
    <div class="row">
        <div class="col">
            <form class="mt-2" [formGroup]="markingTextForm">
                <div formArrayName="arr">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Index</th>
                                <th>{{'lefttext'| translate}}</th>
                             
                                <th>{{'righttext'| translate}}</th>
                                <th>{{'middletext'| translate}}</th>
                                <th>{{'edit'| translate}}</th>
                                <th>{{'delete'| translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of items; let $i = index" [formGroupName]="$i">
                                <td>{{$i + 1}}</td>
                                <td>
                                    <input type="text" formControlName="leftText" [attr.disabled]="enableRow[$i] ==='yes'?true:null">
                                </td>
                               
                                <td>
                                    <input type="text" formControlName="rightText" [attr.disabled]="enableRow[$i] ==='yes'?true:null">
                                </td>
                                <td>
                                    <input type="text" formControlName="middleText" [attr.disabled]="enableRow[$i] ==='yes'?true:null">
                                </td>
                                <td>
                                    <i class="fa fa-edit ml-2" (click)="editMarkText($i, row)"></i>
                                </td>
                                <td>
                                    <i class="fa fa-trash ml-2" (click)="deleteMarkTextModel(row)"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button class="btn btn-orange" type="submit" (click)="editMarkingText(markingTextForm.value)">{{'update'| translate}}</button>
                <button class="btn btn-orange ml-2" type="submit" (click)="openModel(markingTextForm.value)">{{'submit'| translate}}</button>
            </form>
        </div>
    </div>
</div>


<div *ngIf="msg" class="alert alert-success alert-dismissible" data-auto-dismiss role="alert">
    <button class="close" aria-label="close" data-dismiss="alert">&times;</button>
    <span id="alertMsg">{{msg}}</span>
</div>
<div *ngIf="errorMsg" class="alert alert-danger alert-dismissible" data-auto-dismiss role="alert">
    <button class="close" aria-label="close" data-dismiss="alert">&times;</button>
    <span id="alertErrMsg">{{errorMsg}}</span>
</div>


<ng-template #deleteConfirm  let-row let-rowIndex="rowIndex" let-c="close" let-d="dismiss">
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-center">
        <h4>Are you sure want to delete the Data ?</h4>
      
    </div>
    <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-danger" ngbAutoFocus (click)="d('Cross click')">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="deleteMarkingText(row)">Submit</button>
    </div>
</ng-template>


<ng-template #ver let-row let-rowIndex="rowIndex">

    <!-- <button class="btn btn-md btn-primary ml-4" id="verbasedata" (click)="orderview(row)" ><i class="fa fa-pencil" aria-hidden="true"></i></button> -->
    <a class="ml-2" (click)="orderview(row)">
        <i class="fa fa-pencil" aria-hidden="true"></i>
    </a>
</ng-template>


<ng-template #submitConfirm let-c="close" let-d="dismiss">
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-center">
        <h4>Are you sure want to Submit the Data ?</h4>
        <h4>Once submit data can't be edited again!</h4>
    </div>
    <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-danger" ngbAutoFocus (click)="d('Cross click')">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="submitMarkingText()">Submit</button>
    </div>
</ng-template>


<ng-template #editModel let-c="close" let-d="dismiss">
        <div class="modal-header">
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body text-center">
            <div class="row">
                <div class="col-md-4">Left Marking Text</div>
                <div class="col-md-4"><input type="text" [(ngModel)]="editObj.leftmarking"></div>
            </div>
            <br>
            <div class="row">
                    <div class="col-md-4">Right Marking Text</div>
                    <div class="col-md-4"><input type="text" [(ngModel)]="editObj.rightmarking"></div>
                </div>
                <br>
                <div class="row">
                        <div class="col-md-4">Middle Marking Text</div>
                        <div class="col-md-4"><input type="text" [(ngModel)]="editObj.middlemarking"></div>
                    </div>
                    
                    
        </div>
        <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-orange" ngbAutoFocus (click)="d('Cross click')">Cancel</button>
            <button type="button" class="btn btn-orange" (click)="updateMarkingText()">Update</button>
        </div>
    </ng-template>






