<div class="row">
    <div class="col">
        <h2 class="page_heading prfile">{{ 'profile' | translate}}</h2>
    </div>
</div>
<div *ngIf="msg" class="alert alert-success alert-dismissible" data-auto-dismiss role="alert">
    <button class="close" aria-label="close" data-dismiss="alert">&times;</button>
    <span id="alertMsg">{{msg}}</span>
</div>
<div *ngIf="errorMsg" class="alert alert-danger alert-dismissible" data-auto-dismiss role="alert">
    <button class="close" aria-label="close" data-dismiss="alert">&times;</button>
    <span id="alertErrMsg">{{errorMsg}}</span>
</div>
<form [formGroup]="profileForm">
    <div class="row">
        <div class="col">
            <div class="form-group custom_form-group">
                <label for="">{{'firstname'| translate}}</label>
                <input type="text" class="form-control" placeholder="{{'firstname'| translate}}" formControlName="firstname" [(ngModel)]="profileData.firstname" maxlength="60" />
                <div *ngIf="profileForm.controls.firstname.invalid && (profileForm.controls.firstname.dirty || profileForm.controls.firstname.touched)" class="text-danger">
                    <!-- <div *ngIf="profileForm.controls.firstname.errors.required" class="custom">
                        {{'firstnamerequired'| translate}}
                    </div> -->
                    <div *ngIf="profileForm.controls.firstname.errors.pattern" class="custom">
                        {{'characters'| translate}}
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="form-group custom_form-group">
                <label for="">{{'lastname'| translate}}</label>
                <input type="text" class="form-control" id="" placeholder="{{'lastname'| translate}}" formControlName="lastname" [(ngModel)]="profileData.lastname" maxlength="60" required />
                <div *ngIf="profileForm.controls.lastname.invalid && (profileForm.controls.lastname.dirty || profileForm.controls.lastname.touched)" class="text-danger">
                    <!-- <div *ngIf="profileForm.controls.lastname.errors.required" class="custom">
                            {{'lastnamerequired'|translate}}
                    </div> -->
                    <div *ngIf="profileForm.controls.lastname.errors.pattern" class="custom">
                            {{'characters'| translate}}
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col">
            <div class="form-group custom_form-group">
                <label for="">{{'emailid'| translate}}</label>
                <input type="email" class="form-control" id="" disabled placeholder="{{'emailid'| translate}}" formControlName="uemailId" [(ngModel)]="profileData.uemailId" required />
            </div>
        </div>

        <div class="col">
            <div class="form-group custom_form-group">
                <label for="">{{'userid'| translate}}</label>
                <input type="text" class="form-control" id="exampleInputEmail1" disabled placeholder="{{'userid'| translate}}"
                    formControlName="consumerId" [(ngModel)]="profileData.consumerId"  required />
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-6">
            <div class="form-group custom_form-group">
                <label for="country">{{'countryName'| translate}}</label>
                <input type="text" class="form-control" disabled [(ngModel)]="profileData.country"
                placeholder="{{'countryName'| translate}}" formControlName="country" list="codes" step="5" min="5" max="200" required />
                <datalist id="codes">
                    <select class="scrollbar">
                        <option *ngFor="let item of countryData" [value]="item.CountryName"></option>
                    </select>
                </datalist>
            </div>
        </div>

        <div class="col">
            <div class="form-group custom_form-group">
                <label for="state">{{'state'| translate}}</label>
                <input type="text" class="form-control" formControlName="state" [(ngModel)]="profileData.state"
                (click)="getState($event)" onmousedown="value = '';" placeholder="{{'state'| translate}}" list="statecodes" step="5" min="5" max="200"/>
                <datalist id="statecodes">
                    <select class="scrollbar">
                        <option *ngFor="let item of stateData" [value]="item.StateName"></option>
                    </select>
                </datalist>
                <!-- <div *ngIf="profileForm.controls.state.invalid && (profileForm.controls.state.dirty || profileForm.controls.state.touched)" class="text-danger">
                        <div *ngIf="profileForm.controls.state.errors.required" class="custom">
                                {{'selectstate'|translate}}
                        </div>
                </div> -->
            </div>
        </div>

        <div class="col">
            <div class="form-group custom_form-group">
                <label for="city">{{'city'| translate}}</label>
                <input type="text" class="form-control" formControlName="city" [(ngModel)]="profileData.city"
                (click)="getCity($event)" onmousedown="value = '';" placeholder="{{'city'| translate}}" list="citycodes" step="5" min="5" max="200" required />
                <datalist id="citycodes">
                    <select class="scrollbar">
                        <option *ngFor="let item of citiesData" [value]="item"></option>
                    </select>
                </datalist>
                <!-- <div *ngIf="profileForm.controls.city.invalid && (profileForm.controls.city.dirty || profileForm.controls.city.touched)" class="text-danger">
                        <div *ngIf="profileForm.controls.city.errors.required" class="custom">
                                {{'selectcity'|translate}}
                        </div>
                </div> -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group custom_form-group">
                <label for="exampleInputEmail1">{{'phone'| translate}}</label>
                <input placeholder="{{'phone'| translate}}" type="text" class="form-control" formControlName="phonenumber"
                    [(ngModel)]="profileData.phonenumber" maxlength="14" required>
                <div *ngIf="profileForm.controls.phonenumber.invalid && (profileForm.controls.phonenumber.dirty || profileForm.controls.phonenumber.touched)" class="text-danger">
                    <!-- <div *ngIf="profileForm.controls.phonenumber.errors.required" class="custom">
                        {{'phonenumberrequired'| translate}}</div> -->
                    <div *ngIf="profileForm.controls.phonenumber.errors.pattern" class="custom">
                        {{'phonenumbervalid'| translate}}
                    </div>
                    <!-- <div *ngIf="profileForm.controls.phonenumber.errors.minlength" class="custom">
                        {{'phonenumberdigit'| translate}}</div> -->
                </div>
            </div>
        </div>

        <div class="col">&nbsp;</div>

    </div>

    <div class="row">
        <div class="col">
            <button (click)="continue()" class="btn btn-orange">{{'update'| translate}}</button>&nbsp;
        </div>
    </div>

</form>