<div class="container-fluid">
    <div class="row">
        <div class="dotted_border"></div>
        <div class="top_brdr"></div>
        <nav class="navbar navbar-dark sticky-top flex-md-nowrap p-0">
            <a class="navbar-brand col-sm-3 col-md-2 mr-0 brand_logo" href="#"></a>

            <div ngbDropdown class="d-inline-block">
                    <button class="btn" id="dropdownReset" ngbDropdownToggle><i
                            class="fa fa-cog fa-spin fa-3x fa-fw"></i> Settings</button>
                    <div ngbDropdownMenu class="dropDown" aria-labelledby="dropdownReset">
                        <button ngbDropdownItem routerLink="dashbord/customerProfile"><i class="fa fa-user pr-2"></i> Profile
                                </button>
                        <button ngbDropdownItem (click)="resetPwdOpen(resetPWD)"><i class="fa fa-unlock pr-2"></i> Reset
                            Password</button>
                        <button ngbDropdownItem (click)="signout()"><i class="fa fa-power-off pr-2"></i> Log Out</button>
                    </div>
                </div>
        </nav>
    </div>
</div>
<!-- Reset Password Modal -->
<ng-template #resetPWD let-c="close" let-d="dismiss">
   <reset-password></reset-password>
</ng-template>