
  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{'resetpassword'| translate}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
      <div class="justify-content-center">
          <form [formGroup]="resetForm">
              <div class="row">
                  <div class="col-md-12 form-group">
                      <label>{{'oldpassword'| translate}}</label>
                      <input formControlName="oldPwd" class="form-control" type="password"
                          [ngClass]="{ 'is-invalid': submitted && resetForm.controls.oldPwd.errors }" required>
                      <div *ngIf="submitted && resetForm.controls.oldPwd.errors" class="text-danger">
                          <div *ngIf="resetForm.controls.oldPwd.errors.required">{{'oldpasswordrequired'| translate}}</div>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-12 form-group">
                      <label>{{'newpassword'| translate}}</label>
                      <input type="password" formControlName="newPwd" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && resetForm.controls.newPwd.errors }" required>
                      <div *ngIf="submitted && resetForm.controls.newPwd.errors" class="text-danger">
                          <div *ngIf="resetForm.controls.newPwd.errors.required">{{'newpasswordrequired'| translate}}</div>
                          <div *ngIf="resetForm.controls.newPwd.errors.minlength">{{'passwordlength'| translate}}s</div>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-12 form-group">
                      <label>{{'confirmpassword'| translate}}</label>
                      <input type="password" formControlName="confirmPwd" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && resetForm.controls.confirmPwd.errors }" required>
                      <div *ngIf="submitted && resetForm.controls.confirmPwd.errors" class="text-danger">
                           <div *ngIf="resetForm.controls.confirmPwd.errors.required">{{'confirmpasswordrequired'| translate}}</div>
                           <div *ngIf="passwordMatcher">{{'confirmpasswordvalidation'| translate}}</div>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-12 text-center mt-3">
                      <button class="btn btn-warning" (click)="resetPassword()"> {{'resetpassword'| translate}}</button>
                  </div>
              </div>
          </form>
      </div>
  </div>
