
  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Reset Password</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
      <div class="justify-content-center">
          <form [formGroup]="resetForm">
              <div class="row">
                  <div class="col-md-12 form-group">
                      <label>Old Password</label>
                      <input formControlName="oldPwd" class="form-control" type="password"
                          [ngClass]="{ 'is-invalid': submitted && resetForm.controls.oldPwd.errors }" required>
                      <div *ngIf="submitted && resetForm.controls.oldPwd.errors" class="text-danger">
                          <div *ngIf="resetForm.controls.oldPwd.errors.required">Please enter Old Password</div>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-12 form-group">
                      <label>New Password</label>
                      <input type="password" formControlName="newPwd" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && resetForm.controls.newPwd.errors }" required>
                      <div *ngIf="submitted && resetForm.controls.newPwd.errors" class="text-danger">
                          <div *ngIf="resetForm.controls.newPwd.errors.required">New Password is required</div>
                          <div *ngIf="resetForm.controls.newPwd.errors.minlength">Password must be at least 6
                              characters</div>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-12 form-group">
                      <label>Confirm Password</label>
                      <input type="password" formControlName="confirmPwd" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && resetForm.controls.confirmPwd.errors }" required>
                      <div *ngIf="submitted && resetForm.controls.confirmPwd.errors" class="text-danger">
                           <div *ngIf="resetForm.controls.confirmPwd.errors.required">Confirm Password required</div>
                           <div *ngIf="resetForm.controls.confirmPwd.errors.passwordMatcher">Same</div>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-12 text-center mt-3">
                      <button class="btn btn-warning" (click)="resetPassword()"> Reset Password</button>
                  </div>
              </div>
          </form>
      </div>
  </div>
