<div class="row">
    <div class="col-md-4">
<h2 class="page_heading new_order">{{'myorders'| translate}}</h2>
    </div>

    <div class="col-md-4"></div>
    <div class="col-md-4"> <div class="col">
            <div class="form-inline" id="search_bar">
                <div class="form-group mr-1">
                    <input type="text" [(ngModel)]="customerId" class="form-control" (keyup)="search($event)" placeholder="Enter the Customer Id">
                </div>
                <button class="btn btn-secondary btn-sm" (click)="getPerticularUser(smailId)"
            [disabled]="!customerId">{{'search'| translate}}</button>
            </div>
        </div></div>

</div>
<br>




<div class="table table-bordered table-striped">
    <ngx-table [configuration]="configuration" [data]="data" [columns]="columns">
    </ngx-table>
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item first-item">
            <a (click)="loadPage(page=1)" class="page-link">First</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item previous-item">
            <a (click)="loadPage(page= pager.currentPage - 1)" class="page-link">Previous</a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}"
            class="page-item number-item">
            <a (click)="loadPage(page= page)" class="page-link">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item next-item">
            <a (click)="loadPage(page= pager.currentPage + 1)" class="page-link">Next</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item last-item">
            <a (click)="loadPage(page= pager.totalPages)" class="page-link">Last</a>
        </li>
    </ul>
</div>

<ng-template #ver let-row let-rowIndex="rowIndex">
    <!-- <button class="btn btn-md btn-primary ml-4" id="verbasedata" (click)="orderview(row, rowIndex)" ><i class="fa fa-eye" aria-hidden="true"></i></button> -->
    <a class="ml-2" (click)="orderview(row, rowIndex)">
        <i class="fa fa-eye" aria-hidden="true"></i>
    </a>
</ng-template>