
.table-bordered {
    border:none !important;
  }
  .fa {
    color: darkorange;
    font-size: 20px;
}
.btn{
    padding-right: 20px;
    padding-left: 20px;  
    position: center;
  }
.form-inline {
    display: inline-flex !important;
}