<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active"  [routerLink]="['dashbord']" routerLinkActive="router-link-active"  >
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>Dashboard
                </a>
            </li>
           
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['orderview']" routerLinkActive="router-link-active">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>Orders
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa fa-pencil-square" aria-hidden="true"></i>Updated Orders
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa fa-check-square" aria-hidden="true"></i>Processed Orders
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>Previous Orders
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa fa-download" aria-hidden="true"></i>Download Excel
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink ="dashbord/customerProfile">
                    <i class="fa fa-user" aria-hidden="true"></i>Profile
                </a>
            </li>
           </ul>
    </div>
  </nav>
  