<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active"  [routerLink]="['dashbord']" routerLinkActive="router-link-active"  >
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>{{'dashboard'| translate}}
                </a>
            </li>
           
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['orderview']" routerLinkActive="router-link-active">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>{{'orders'| translate}}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa fa-pencil-square" aria-hidden="true"></i>{{'updateorders'| translate}}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa fa-check-square" aria-hidden="true"></i>{{'processedorders'| translate}}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>{{'previousorders'| translate}}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa fa-download" aria-hidden="true"></i>{{'DownloadExcel'| translate}}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink ="dashbord/customerProfile">
                    <i class="fa fa-user" aria-hidden="true"></i>{{'profile'| translate}}
                </a>
            </li>
           </ul>
    </div>
  </nav>
  