
  <div id="sidebar" *ngIf="navService.showSideBar" >
        <div class="menu_cntnr">
        <div class="sidebar-header">
            
            <div class="logo">
                <img src="assets/images/lapp_logo.png" alt="LAPP" />
            </div>
        </div>
    
        <ul class="list-unstyled components">
            <li>
                <a href="#" [routerLink]="['dashboard']" [routerLinkActive]="['is-active']" class="menu_icon dashboard">{{'dashboard'| translate}}</a>
            </li>
            <li *ngIf="isAdmin || isSuperAdmin">
                <a href="#" [routerLink]="['upload']" [routerLinkActive]="['is-active']"class="menu_icon upload">{{'upload'| translate}}</a>
            </li>
            <li *ngIf="isAdmin || isSuperAdmin">
                <a href="#" [routerLink]="['neworders']" [routerLinkActive]="['is-active']" class="menu_icon new_order">{{'allorders'| translate}}</a>
            </li>
            <li *ngIf="isCustomer">
                <a href="#" [routerLink]="['neworders']" [routerLinkActive]="['is-active']" class="menu_icon new_order">{{'myoders'| translate}}</a>
            </li>
            <li>
                <a href="#" [routerLink]="['updatedorders']" [routerLinkActive]="['is-active']" class="menu_icon updtd_order">{{'updateorders'| translate}}</a>
            </li>
            <li>
                <a class="menu_icon prcsd_order">{{'processedorders'| translate}}</a>
            </li>
            <!-- <li>
                <a href="#" class="menu_icon prvs_order">{{'previousorders'| translate}}</a>
            </li> -->
            <li>
                <a class="menu_icon dwnload">{{'DownloadExcel'| translate}}</a>
            </li>

            <li *ngIf="isAdmin || isSuperAdmin">
                    <a href="#" [routerLink]="['uploadstatus']" [routerLinkActive]="['is-active']" class="menu_icon upload">{{'uploadstatus'| translate}}</a>
                </li>

            <li *ngIf="isAdmin || isCustomer">
                <a href="#" [routerLink]="['profile']" [routerLinkActive]="['is-active']" class="menu_icon prfile">{{'profile'| translate}}</a>
            </li>
            
            <li *ngIf="isAdmin || isSuperAdmin">
                <a href="#" [routerLink]="['createuser']" [routerLinkActive]="['is-active']" class="menu_icon creat_usrs">{{'CreateUsers'| translate}}</a>
            </li>
        </ul>
    </div>
    <div class="sidebar_bottom">
        <button class="btn btn-orange logout_btn" [routerLink]="['login']">{{'logout'| translate}}</button>
        <p class="text-center">Powered by <a href="https://www.lappgroup.com/" target="_blank">LAPP</a></p>
    </div>
    </div>