
  <div id="sidebar" *ngIf="navService.showSideBar" >
        <!-- <nav id="sidebar"> -->
        <div class="sidebar-header">
            <!-- <h3>Bootstrap Sidebar</h3> -->
            <div class="logo">
                <img src="assets/images/lapp_logo.png" alt="LAPP" />
            </div>
        </div>
    
        <ul class="list-unstyled components">
            <li>
                <a href="#" [routerLink]="['dashbord']" routerLinkActive="router-link-active" class="menu_icon dashboard">{{'dashboard'| translate}}</a>
            </li>
            <li>
                <a href="#" [routerLink]="['dashbord/upload']" routerLinkActive="router-link-active" class="menu_icon status">{{'upload'| translate}}</a>
            </li>
            <li>
                <a href="#" [routerLink]="['dashbord/neworders']" routerLinkActive="router-link-active" class="menu_icon orders">{{'neworders'| translate}}</a>
            </li>
            <li>
                <a href="#" [routerLink]="['dashbord/updatedorders']" routerLinkActive="router-link-active" class="menu_icon orders">{{'updateorders'| translate}}</a>
            </li>
            <li>
                <a href="#" class="menu_icon status">{{'processedorders'| translate}}</a>
            </li>
            <li>
                <a href="#" class="menu_icon prvs_order">{{'previousorders'| translate}}</a>
            </li>
            <li>
                <a href="#" class="menu_icon status">{{'DownloadExcel'| translate}}</a>
            </li>
            <li>
                <a href="#" [routerLink]="['dashbord/profile']" routerLinkActive="router-link-active" class="menu_icon status">{{'profile'| translate}}</a>
            </li>
            <li *ngIf="isAdmin || isSuperAdmin">
                <a href="#" [routerLink]="['dashbord/customerdetails']" routerLinkActive="router-link-active" class="menu_icon status">{{'customerdetails'| translate}}</a>
            </li>
            <li *ngIf="isAdmin || isSuperAdmin">
                <a href="#" [routerLink]="['dashbord/createuser']" routerLinkActive="router-link-active" class="menu_icon status">{{'CreateUsers'| translate}}</a>
            </li>
        </ul>
    
        <!-- </nav> -->
    </div>