// html, body {
    //     height: 100%;
    //     font: 11px Arial, Helvetica, sans-serif;
    //     color: #000;
    //     background: #fff;
    //     padding: 0;
    //     margin: 0;
    // }
    // .body_bg{
    //     background: url('/assets/images/body_bg.png') no-repeat;
    //     background-size: 100% 100%;
    //     position: relative;
    // }
    
    // .dotted_border{
    //     background: url('/assets/images/dottedBorder.jpg') repeat-x left top;
    //     display: block;
    //     height: 7px;
    //     width: 100%;
    // }
    // .top_brdr{
    //     background: rgb(181,122,40);
    //     background: linear-gradient(90deg, rgba(181,122,40,1) 0%, rgba(235,201,150,1) 45%, rgba(181,122,40,1) 100%);
    //     border-bottom: 2px solid #fff;
    //     display: block;
    //     width: 100%;
    //     height: 28px;
    // }
    // .banner{
    //     background: url('/assets/images/banner.png') no-repeat center center;
    //     width: 100%;
    //     height: 298px;
    //     display: block;
    //     background-size: 100% 100%;
    //     border-bottom: 2px solid #fc9a08;
    //     position: relative;
    // }
    // .brand_logo{
    //     background: url('/assets/images/lapp_logo.png') no-repeat #fff;
    //     width: 260px;
    //     height: 60px;
    //     display: inline-block;
    //     background-size: contain;
    //     position: relative;
    //     top: 0;
    //     left: 15px;
    //     box-shadow: 0px 5px 6px 1px #4a4a4a;
    //     border-radius: 0 0 5px 5px;
    //     border: 5px solid #fff;
    // }
    // .btm_brdr{
    //     height: 58px;
    // }
    
    // .lgn_cntnr{
    //     margin: 90px 0;
    // }
    // .lgn_cntnr h2{
    //     color: #ff7100;
    //     font-size: 28px;
    //     font-weight: normal;
    //     margin-bottom: 15px;
    // }
    // .lgn_btn{
    //     background: url('/assets/images/body_bg.png') no-repeat;
    //     width: 133px;
    //     height: 71px;
    //     display: inline-block;
    //     color: #fff;
    //     font-size: 15px;
    //     font-weight: bold;
    //     padding: 5px 23px 0 0;
    //     margin-top: 15px;
    // }
    // .lgn_btn:hover{
    //     background: url('/assets/images/lgn_btn_hover.png') no-repeat;
    //     color: #fff;
    //     text-decoration: none;
    // }
    // .lgn_input{
    //     border: 1px solid #c46123;
    //     height: 40px;
    //     box-shadow: 0px 0px 7px 3px #b9b9b9;
    //     margin: 15px 0;
    //     border-radius: 2px;
    // }
    // .lgn_input .input-group-text{
    //     background: transparent;
    //     border: 0;
    //     color: #ff7100;
    //     font-size: 26px;
    //     line-height: 29px;
    // }
    // .lgn_input .form-control{
    //     border: 0;
    //     height: 38px;
    //     font-size: 15px;
    // }
    // .lgn_lnks{
    //     color: #585955;
    //     font-size: 13px;
    //     line-height: 20px;
    // }
    
    
    
    
    // /*dashboard start*/
    
     
    //   /*
    //    * Sidebar
    //    */
      
    //   .sidebar {
    //     position: absolute;
    //     top: 80px;
    //     bottom: 0;
    //     left: 0;
    //     z-index: 100; /* Behind the navbar */
    //     padding: 0;
    //     box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    //   }
      
    //   .sidebar-sticky {
    //     position: -webkit-sticky;
    //     position: sticky;
    //     top: 48px; /* Height of navbar */
    //     height: calc(100vh - 124px);
    //     padding-top: .5rem;
    //     overflow-x: hidden;
    //     overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    //   }
      
    //   .sidebar .nav-link {
    //     font-weight: 500;
    //     color: #333;
    //     font-size: 15px;
    //     padding: 10px 8px;
    //     border-bottom: 1px solid rgba(255, 113, 0, 0.2);
    //   }
    //   .sidebar .nav-link i {
    //       margin-right: 8px;
    //       color: #ff7100;
    //   }
      
    //   .sidebar .nav-link .feather {
    //     margin-right: 4px;
    //     color: #999;
    //   }
      
    //   .sidebar .nav-link.active, .sidebar .nav-link:hover {
    //     color: #ff7100;
    //     }
      
      
    //   .sidebar .nav-link:hover .feather,
    //   .sidebar .nav-link.active .feather {
    //     color: inherit;
    //   }
      
    //   .sidebar-heading {
    //     font-size: .75rem;
    //     text-transform: uppercase;
    //   }
      
    //   /*
    //    * Navbar
    //    */
      
    //   .navbar-brand {
    //     padding-top: .75rem;
    //     padding-bottom: .75rem;
    //     font-size: 1rem;
    //     /* background-color: rgba(0, 0, 0, .25); */
    //     /* box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25); */
    //     box-shadow: none;
    //     height: 45px;
    //   }
      
    //   .navbar .form-control {
    //     padding: .75rem 1rem;
    //     border-width: 0;
    //     border-radius: 0;
    //   }
      
    //   .form-control-dark {
    //     color: #fff;
    //     background-color: rgba(255, 255, 255, .1);
    //     border-color: rgba(255, 255, 255, .1);
    //   }
      
    //   .form-control-dark:focus {
    //     border-color: transparent;
    //     box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
    //   }
      
    //   /*
    //    * Utilities
    //    */
      
    //   .border-top { border-top: 1px solid #e5e5e5; }
    //   .border-bottom { border-bottom: 1px solid #e5e5e5; }
    
    
    //   .fixed_btm_brdr{
    //     position: fixed;
    //     bottom: 0;
    //     z-index: 100;
    //     left: 0;
    //     width: 100%;
    //     margin: 0;
    //   }
    
    //   .sticky-top{
    //       width: 100%;
    //   }
    
    //   .navbar.navbar-dark.sticky-top{
    //       box-shadow: 0px 5px 5px 0px #ccc;
    //       background: #fff;
    //   }
    //   .navbar-dark .navbar-nav .nav-link{
    //       color: #000;
    //       font-size: 14px;
    //   }
    
    //   .heading{
    //     color: #ff7100;
    //   }
    
    //   .dshbrd_icn{
    //     font-size: 24px;
    //     color: #944505;
    //     font-weight: bold;
    //     box-shadow: 0 0 5px 3px #ccc;
    //     margin: 30px;
    //     padding: 15px;
    //     border-radius: 3px;
    //     cursor: pointer;
    //   }
    //   .dshbrd_icn i{
    //     font-size: 50px;
    //     display: block;
    //     color: #ff7100;
    //     margin-bottom: 15px;
    //   }
      
    //   .dshbrd_icn:hover{
    //       /* background: #974605;
    //       color: #fff; */
    //       box-shadow: 0 0 8px 5px #bbb;
    //   }
    
    //   .dshbrd_logo{
    //       margin: 40px 0;
    //   }
    //   .dshbrd_logo img{
    //       width: 350px;
    //       height: auto;
    //   }
    //   .dshbrd_logo p{
    //       font-size: 20px;
    //       margin: 15px 0;
    //   }
    //   .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus{
    //     color: #ff7100;
    //   }
    //   .main-container {
    //     margin-top: 56px;
    //     margin-left: 235px;
    //     padding: 15px;
    //     -ms-overflow-x: hidden;
    //     overflow-x: hidden;
    //     overflow-y: scroll;
    //     position: relative;
    //     overflow: hidden;
    // }
      /*dashboard end*/
    
    
      /*navigation start*/
    .navbar{
      display: block;
      padding: 0;
      margin: 0;
      background: #fff;
        padding: 15px;
    }
    .navbar-brand{
      font-size: 20px;
      color: #000;
    }
    .wrapper {
      display: flex;
      width: 100%;
    }
    #sidebar ul p {
      color: #fff;
      padding: 10px;
    }
    
    
    
    #sidebar ul li.active > a, a[aria-expanded="true"] {
      color: #fff;
      background: #6d7fcc;
    }
    ul ul a {
      font-size: 0.9em !important;
      padding-left: 30px !important;
      background: #6d7fcc;
    }
    
    #sidebar .sidebar-header {
      padding: 15px 0 0 15px;
      display: inline-block;
    }
    
    #sidebar ul.components {
      padding: 15px;
    }
    
    #sidebar ul p {
      color: #fff;
      padding: 10px;
    }
    
    #sidebar ul li{
      padding: 10px 0;
    }
    #sidebar ul li a {
      // padding: 10px;
      font-size: 1.3em;
      display: block;
      color: #000;
      line-height: 20px;
    }
    #sidebar ul li a:hover {
      color: #f08843;
      text-decoration: none;
    }
    
    #sidebar ul li.active > a, a[aria-expanded="true"] {
      color: #fff;
      background: #6d7fcc;
    }
    ul ul a {
      font-size: 0.9em !important;
      padding-left: 30px !important;
      background: #6d7fcc;
    }
    #sidebar {
      min-width: 250px;
      max-width: 250px;
      min-height: 100vh;
    }
    #sidebar {
      width: 250px;
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      overflow-x: auto;
      z-index: 999;
      background: #fff;
      color: #fff;
      transition: all 0.3s;
    }
    #sidebar.active {
      margin-left: -250px;
      /* transform: rotateY(100deg); */
    }
    // @media (max-width: 768px) {
    //   #sidebar {
    //       margin-left: -250px;
    //   }
    //   #sidebar.active {
    //       margin-left: 0;
    //   }
    // }
    #content {
      width: calc(100% - 250px);
      padding: 0px;
      min-height: 100vh;
      transition: all 0.3s;
      position: absolute;
      top: 0;
      right: 0;
    }
    
    #content.active {
      width: 100%;
    }
    
    .user_cntnt{
      padding: 0 0 0 45px;
      background: url('/assets/images/dp.png') no-repeat;
      background-position: center left;
      background-size: contain;
      display: block;
      height: 40px;
      line-height: 16px;
      font-weight: bold;
      margin: 0 15px 0 0;
    }
    .user_cntnt .user_lbl{
      display: block;
      color: #707070;
    }
    .user_cntnt .user_name{
      color: #000;
    }
    #header_dd.dropdown{
      margin: 3px 0 5px;
      font-size: 16px;
    }
    
    // @media (max-width: 768px) {
    //   #sidebar {
    //       margin-left: -250px;
    //   }
    //   #sidebar.active {
    //       margin-left: 0;
    //   }
    //   #content {
    //       width: 100%;
    //   }
    //   #content.active {
    //       width: calc(100% - 250px);
    //   }
    //   #sidebarCollapse span {
    //       display: none;
    //   }
    // }
    /*navigation end*/
    
    /*sidebar start*/
    #sidebar .menu_icon{
      padding: 0 0 0 35px;
      background-size: contain;
    }
    .menu_icon.dashboard{
      background: url(/assets/images/menu_icons/dashboard.png) no-repeat;
    }
    .menu_icon.dashboard:hover{
      background: url(/assets/images/menu_icons/dashboard_hover.png) no-repeat;
    }
    .menu_icon.upload{
      background: url(/assets/images/menu_icons/upload.png) no-repeat;
    }
    .menu_icon.upload:hover{
      background: url(/assets/images/menu_icons/upload_hover.png) no-repeat;
    }
    .menu_icon.new_order{
      background: url(/assets/images/menu_icons/newordr.png) no-repeat;
    }
    .menu_icon.new_order:hover{
      background: url(/assets/images/menu_icons/newordr_hover.png) no-repeat;
    }
    .menu_icon.updtd_order{
      background: url(/assets/images/menu_icons/updatedordr.png) no-repeat;
    }
    .menu_icon.updtd_order:hover{
      background: url(/assets/images/menu_icons/updatedordr_hover.png) no-repeat;
    }
    .menu_icon.prcsd_order{
      background: url(/assets/images/menu_icons/procesedordr.png) no-repeat;
    }
    .menu_icon.prcsd_order:hover{
      background: url(/assets/images/menu_icons/procesedordr_hover.png) no-repeat;
    }
    .menu_icon.prvs_order{
      background: url(/assets/images/menu_icons/prvsordr.png) no-repeat;
    }
    .menu_icon.prvs_order:hover{
      background: url(/assets/images/menu_icons/prvsordr_hover.png) no-repeat;
    }
    .menu_icon.dwnload{
      background: url(/assets/images/menu_icons/download.png) no-repeat;
    }
    .menu_icon.dwnload:hover{
      background: url(/assets/images/menu_icons/download_hover.png) no-repeat;
    }
    .menu_icon.prfile{
      background: url(/assets/images/menu_icons/prfile.png) no-repeat;
    }
    .menu_icon.prfile:hover{
      background: url(/assets/images/menu_icons/prfile_hover.png) no-repeat;
    }
    .menu_icon.custmr_dtls{
      background: url(/assets/images/menu_icons/custmrdtls.png) no-repeat;
    }
    .menu_icon.custmr_dtls:hover{
      background: url(/assets/images/menu_icons/custmrdtls_hover.png) no-repeat;
    }
    .menu_icon.creat_usrs{
      background: url(/assets/images/menu_icons/createusr.png) no-repeat;
    }
    .menu_icon.creat_usrs:hover{
      background: url(/assets/images/menu_icons/createusr_hover.png) no-repeat;
    }
    /*sidebar end*/