<div class="container-fluid body_bg">
    <div class="row">
    <div class="dotted_border"></div>
    <div class="top_brdr"></div>
    <div class="banner">
    <div class="brand_logo"></div>
    </div>
    </div>
    
    <div class="row">
    <div class="col"></div>
    <div class="col-3">
    <div class="lgn_cntnr">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="row">
    <div class="col">
    <div class="input-group lgn_input">
    <div class="input-group-prepend">
    <i class="fa fa-user input-group-text" aria-hidden="true"></i>
    </div>
    <input formControlName="username" class="form-control" type="text" placeholder="Customer ID/ Email ID" [ngClass]="{ 'is-invalid': submitted && loginForm.controls.username.errors }" required/>
    
    
    </div>
    </div>
    </div>
    <div *ngIf="submitted && loginForm.controls.username.errors" class="text-danger">
        <div *ngIf="loginForm.controls.username.errors.required">User Name is required</div>
    </div>
    
    
    <div class="row">
    <div class="col">
    <div class="input-group lgn_input">
    <div class="input-group-prepend">
    <i class="fa fa-lock input-group-text" aria-hidden="true"></i>
    </div>
    
    <input formControlName="password" class="form-control" type="password" placeholder="Enter Password" [ngClass]="{ 'is-invalid': submitted && loginForm.controls.password.errors }" required/>
    
    
    </div>
    </div>
    </div>
    <div *ngIf="submitted && loginForm.controls.password.errors" class="text-danger">
        <div *ngIf="loginForm.controls.password.errors.required">Password is required</div>
        <div *ngIf="loginForm.controls.password.errors.minlength">Password minimun 6 Characters</div>
    </div>
    <div class="row">
    <div class="col">
    <div class="input-group lgn_input ">
    <div class="input-group-prepend">
    <i class="fa fa-map-marker input-group-text" aria-hidden="true"></i>
    </div>
    <input type="text" class="form-control" formControlName="country"  name="country" (change)="onProductChanged(country)" placeholder="Country" list="codes" step="5" min="5" max="200" required />
    <datalist id="codes" >
    <select class="scrollbar" >
    <option *ngFor="let item of userData" [value]="item.name"></option> 
    </select>
    </datalist>
    </div>
    </div>
    </div>
    <div *ngIf="submitted && loginForm.controls.country.errors" class="text-danger">
        <div *ngIf="loginForm.controls.country.errors.required">Please Select Country </div>
    </div>
    <div class="row">
    <!-- <div class="col text-left">
    <div class="form-check lgn_lnks">
    <input type="checkbox" class="form-check-input" id="loggedIn">
    <label class="form-check-label" for="loggedIn">&nbsp;Keep me logged in</label>
    </div>
    </div> -->
    <div class="col text-right">
    <a href="#" target="_self" class="lgn_lnks">Forgot password?</a>
    </div>
    </div>
    <div class="row">
    
    </div>
    <div *ngIf="message" ><p class="text-danger">{{message}}</p></div>
    <div class="row">
    <div class="col text-right">
    <a (click)="login()" class="lgn_btn">Login</a>
    </div>
    </div>
    </form>
    </div>
    </div>
    <div class="col"></div>
    </div>
    
    <div class="row">
    <div class="dotted_border"></div>
    <div class="top_brdr btm_brdr"></div>
    </div>
    </div>


    <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">Login!
              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                
                     <p>Invalid User Name and Password</p>
                    
            </div>
            <div class="modal-footer">
             <button type="button" class="btn btn-outline-dark" (click)="d('Cross click')">Cancel</button>  
            </div>
     </ng-template>

         