<!-- <div class="container-fluid body_bg">
  <div class="row">
    <div class="dotted_border"></div>
    <div class="top_brdr"></div>
    <div class="banner">
      <div class="brand_logo"></div>
    </div>
  </div>

  <div class="row">
    <div class="col"></div>
    <div class="col-3">
      <div class="lgn_cntnr">
        <h2>Login</h2>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="row">
            <div class="col">
              <div class="input-group lgn_input">
                <div class="input-group-prepend">
                  <i class="fa fa-user input-group-text" aria-hidden="true"></i>
                </div>
                <input formControlName="username" class="form-control" type="text" placeholder="Customer ID/ Email ID"
                  [ngClass]="{ 'is-invalid': submitted && loginForm.controls.username.errors }" required />


              </div>
            </div>
          </div>
          <div *ngIf="submitted && loginForm.controls.username.errors" class="text-danger">
            <div *ngIf="loginForm.controls.username.errors.required">User Name is required</div>
          </div>


          <div class="row">
            <div class="col">
              <div class="input-group lgn_input">
                <div class="input-group-prepend">
                  <i class="fa fa-lock input-group-text" aria-hidden="true"></i>
                </div>

                <input formControlName="password" class="form-control" type="password" placeholder="Enter Password"
                  [ngClass]="{ 'is-invalid': submitted && loginForm.controls.password.errors }" required />


              </div>
            </div>
          </div>
          <div *ngIf="submitted && loginForm.controls.password.errors" class="text-danger">
            <div *ngIf="loginForm.controls.password.errors.required">Password is required</div>
            <div *ngIf="loginForm.controls.password.errors.minlength">Password minimun 6 Characters</div>
          </div>
          <div class="row">
            <div class="col">
              <div class="input-group lgn_input ">
                <div class="input-group-prepend">
                  <i class="fa fa-map-marker input-group-text" aria-hidden="true"></i>
                </div>
                <input type="text" class="form-control" formControlName="country" [(ngModel)]='selected'
                (click)="clear()" placeholder="Country" list="codes" step="5" min="5" max="200"
                  required />
                <datalist id="codes">
                  <select class="scrollbar">
                    <option *ngFor="let item of userData" [value]="item.name"></option>
                  </select>
                </datalist>
              </div>
            </div>
          </div>
          <div *ngIf="submitted && loginForm.controls.country.errors" class="text-danger">
            <div *ngIf="loginForm.controls.country.errors.required">Please Select Country </div>
          </div>
          <div class="row">
            <div class="col text-right">
              <a href="#" target="_self" class="lgn_lnks">Forgot password?</a>
            </div>
          </div>
          <div class="row">

          </div>
          <div *ngIf="message">
            <p class="text-danger">{{message}}</p>
          </div>
          <div class="row">
            <div class="col text-right">
              <a (click)="login()" class="lgn_btn">Login</a>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col"></div>
  </div>

  <div class="row">
    <div class="dotted_border"></div>
    <div class="top_brdr btm_brdr"></div>
  </div>
</div>
-->

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">{{'login'| translate}}!
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <p>{{'invalidusernamepassword'| translate}}</p>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="d('Cross click')">{{'cancel'| translate}}</button>
  </div>
</ng-template>





<div class="login_holder">
  <div class="container-fluid">
      <!-- header -->
      <div class="row">
          <div class="col">
              <div class="header">
                  <div class="logo">
                      <!-- <img src="images/lapp_logo.png" alt="LAPP" /> -->
                      <img src="assets/images/lapp_logo.png" alt="LAPP" />
                  </div>
              </div>
          </div>
      </div>

      <!-- contents -->
      <div class="row">
          <div class="col">
              <div class="login_cntnr">
                  <h2 class="text-center font-weight-bold">{{'login' | translate}}</h2>
                  <br />
                  <form [formGroup]="loginForm" (ngSubmit)="login()">
                      <div class="form-group">
                          <!-- <input type="text" class="form-control" id="" placeholder="Mail"> -->
                          <input formControlName="username" class="form-control" maxlength="60" type="text" placeholder="{{'username' | translate}}" [ngClass]="{ 'is-invalid': submitted && loginForm.controls.username.errors }" required />
                          <div *ngIf="submitted && loginForm.controls.username.errors" class="text-danger">
                            <div *ngIf="loginForm.controls.username.errors.required">{{'Unamerequired' | translate}}</div>
                          </div>
                      </div>
                      <div class="form-group">
                          <!-- <input type="password" class="form-control" id="" placeholder="password"> -->
                          <input  type="password" formControlName="password" class="form-control"  placeholder="{{'password' | translate}}" maxlength="60" [ngClass]="{ 'is-invalid': submitted && loginForm.controls.password.errors }" required />
                          <div *ngIf="submitted && loginForm.controls.password.errors" class="text-danger">
                            <div *ngIf="loginForm.controls.password.errors.required">{{'Passwordrequired'| translate}}</div>
                            <div *ngIf="loginForm.controls.password.errors.minlength">{{'passwordminchar' | translate}}</div>
                            <!-- <div *ngIf="passwordStrength">{{passwordLength}}</div> -->
                          </div>
                      </div>
                      <div class="form-group">
                          <!-- <input type="text" class="form-control" id="" placeholder="Country"> -->
                          <!-- <input type="text" class="form-control" formControlName="country"  [(ngModel)]='selected' (click)="clear()" placeholder="{{'country' | translate}}" list="codes" step="5" min="5" max="200" required />
                        <datalist id="codes"> -->
                          <select class="form-control" formControlName="country" [(ngModel)]='selected'  >
                            <option *ngFor="let item of userData" [value]="item.name">{{item.name}}</option>
                          </select>
                        <!-- </datalist> -->
                        <div *ngIf="submitted && loginForm.controls.country.errors" class="text-danger">
                          <div *ngIf="loginForm.controls.country.errors.required">{{'Select_Country'| translate}} </div>
                        </div>
                      </div>
                      <div class="form-group text-right">
                          <!-- <a href="" target="_self" class="orange_clr">Forgtot password?</a> -->
                          <a [routerLink]="['/login/forgotpassword']" routerLinkActive="router-link-active"  class="lgn_lnks orange_clr">{{'forgotpassword' | translate}}</a>
                      </div>
                      <div *ngIf="message">
                        <p class="text-danger">{{message}}</p>
                      </div>
                      <div class="form-group text-center">
                          <!-- <button type="submit" class="btn btn-orange btn-lg">Login</button> -->
                          <a (click)="login()" class="btn btn-orange lgn_btn">{{'login'| translate}}</a>
                      </div>
                  </form>
              </div>
          </div>
          <div class="col text-center d-none d-sm-block">
              <div class="login_graphic"></div>
              <div class="tagline">
                  <span>{{'moderntechnologies'| translate}}</span> {{'foramodernworld'| translate}}&nbsp;
              </div>
          </div>
      </div>

      <!-- footer -->
      <div class="footer">
          <div class="row">
              <div class="col">
                  <div class="text-center">
                      <ul class="footer_links">
                          <li>
                              <a href="" target="_blank">{{'about'| translate}}</a>
                          </li>
                          <li>
                              <a href="" target="_blank">{{'terms' | translate}}</a>
                          </li>
                          <li>
                              <a href="" target="_blank">{{'privacy'| translate}}</a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>

</div>