<!-- <div class="container-fluid">
    <div class="row">
        <div class="dotted_border"></div>
        <div class="top_brdr"></div>
        <nav class="navbar navbar-dark sticky-top flex-md-nowrap p-0">
            <a class="navbar-brand col-sm-3 col-md-2 mr-0 brand_logo" href="#"></a>

            <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
<!-- <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                    <a class="nav-link" (click)="signout()"><i class="fa fa-cog fa-spin fa-3x fa-fw"></i> Settings</a>
                </li>
            </ul> -->
<!-- <div ngbDropdown class="d-inline-block">
                    <button class="btn" id="dropdownReset" ngbDropdownToggle><i
                            class="fa fa-cog fa-spin fa-3x fa-fw"></i> Settings</button>
                    <div ngbDropdownMenu class="dropDown" aria-labelledby="dropdownReset">
                        <button ngbDropdownItem routerLink="dashbord/customerProfile"><i class="fa fa-user pr-2"></i> Profile
                                </button>
                        <button ngbDropdownItem (click)="resetPwdOpen(resetPWD)"><i class="fa fa-unlock pr-2"></i> Reset
                            Password</button>
                        <button ngbDropdownItem (click)="signout()"><i class="fa fa-power-off pr-2"></i> Log Out</button>
                    </div>
                </div>
        </nav>
    </div>
</div> -->


<div class="navbar navbar-expand-sm">
    <a class="navbar-brand" id="sidebarCollapse" (click)="toggleNav()" >
        <i class="fa fa-bars" aria-hidden="true"></i>
    </a>
    <ul class="navbar-nav float-right">
        <li class="nav-item">
            <div class="user_cntnt">
                <span class="user_lbl">{{'welcome'|translate}}</span>
                <span class="user_name">{{usersId}}</span>
            </div>
        </li>
        <li class="nav-item">
            <div class="dropdown dropleft" id="header_dd">
                <i class="fa fa-chevron-down " aria-hidden="true" data-toggle="dropdown"></i>
                <div class="dropdown-menu mt-5">
                    <!-- <a class="dropdown-item" href="#" [routerLink]="['dashbord/customerProfile']" >Profile</a> -->
                    <a class="dropdown-item" (click)="openProfile()" >{{'profile'| translate}}</a>
                    <a class="dropdown-item" (click)="resetPwdOpen(resetPWD)">{{'resetpassword'| translate}}</a>
                    <a class="dropdown-item" (click)="signout()">{{'logout'| translate}}</a>
                </div>
            </div>
        </li>
    </ul>
</div>


<!-- Reset Password Modal -->
<ng-template #resetPWD let-c="close" let-d="dismiss">
    <reset-password (close)="d($event)"></reset-password>
</ng-template>