<h2 class="page_heading dashboard">{{'upload'| translate}}</h2>

<div *ngIf="msg" class="alert alert-success alert-dismissible" data-auto-dismiss role="alert">
    <button class="close" aria-label="close" data-dismiss="alert">&times;</button>
    <span id="alertMsg">File sucessfully uploaded!</span>
</div>
<div *ngIf="errorMsg" class="alert alert-danger alert-dismissible" data-auto-dismiss role="alert">
    <button class="close" aria-label="close" data-dismiss="alert">&times;</button>
    <span id="alertErrMsg">Please upload .xlsx, .xls, .csv only</span>
</div>

<div class="row">
  <div class="col"></div>
  <div class="col-4">

    <div class="input-container">
      <input type="file" ng2FileSelect [uploader]="uploader" accept="" #file accept=".xlsx, .xls, .csv">
      <button class="browse-btn btn-orange" (click)="file.click()">
        {{'uploadfiles'| translate}}
      </button>
      <span class="file-info" *ngFor="let item of uploader.queue">{{ item?.file?.name }}</span>
    </div>
    <p class="upload_msg">File timestamp should be in 'dd/mm/yyyy hh:mm' format</p>
    <p class="upload_msg">Upload only .xlsx, .xls, .csv files</p>
  </div>
  <div class="col"></div>
</div>
<div class="row">&nbsp;</div>
<div class="row">
  <div class="col text-center">
    <button type="button" class="btn btn-s btn-orange" (click)="uploader.uploadAll()"
      [disabled]="!uploader.getNotUploadedItems().length">
      <span class="glyphicon glyphicon-upload"></span> {{'submit'| translate}}
    </button>
  </div>
</div>

<div class="clearfix">&nbsp;</div>

<div class="row">
  <div class="col">
    <div class="table table-bordered">
      <!-- <app-ngx-easy-table [configuration]="configuration" [data]="data" [columns]="columns">
      </app-ngx-easy-table> -->
      <ngx-table [configuration]="configuration" [data]="data" [columns]="columns">
        <ng-template let-row>
          <td>{{row.fileName}}</td>
          <td>{{row.fileSize}}</td>
          <td>{{row.orderCount}}</td>
          <td>{{row.uploadedBy}}</td>
          <td>{{row.createdDate | date:'medium'}}</td>
        </ng-template>
      </ngx-table>
       <!-- <app-pagination [pager]=pager (clicked)="loadPage($event)"></app-pagination>  -->
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-3"><button class="btn btn-primary" (click)="downloadfile()">download</button></div>

</div>
