    .input-container {
      /* margin: 3em auto 0; */
      border-bottom: 1px solid #DFDFDF;
      height: 35px;
      margin-bottom: 3px;
      position: relative;
    }
    .upload_msg{
      font-size: 12px;
      color: #807e7d;
      margin: 0;
    }
    input[type='file'] {
    display: none;
   
    }
    
    .file-info {
      font-size: 1em;
      padding: 8px 0 0;
      position: absolute;
      top: 4px;
    }
    .ml {
      margin-right: -84px;
    }
    .browse-btn {
    color: #807e7d;
    padding: 6px 10px;
    border-radius: 5px;
    float: right;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.5);
    }
    .browse-btn:hover {
      color: #000;
      background: transparent;
    }

    .btn{
        padding-right: 20px;
        padding-left: 20px;  
        position: center;
      }
  .fa{
    font-size: 20px;
    padding: 2px;
  }
  .download_btn{
    background: url('../../../assets/images/menu_icons/download_white.png') no-repeat #f58122;
    background-size: auto 70%;
    background-position: 10px 5px;
    padding: 6px 15px 6px 35px;
    float: right;
  }
  .download_btn:hover{
    background: url('../../../assets/images/menu_icons/download.png') no-repeat #f58122;
    background-size: auto 70%;
    background-position: 10px 5px;
  }
      .upload_btn{
        background: url('../../../assets/images/menu_icons/upload_white.png') no-repeat #f58122;
    background-size: auto 70%;
    background-position: 10px 5px;
    padding: 11px 20px 11px 40px;
    float: left;
    line-height: 8px;
      }
      .upload_btn:hover{
        background: url('../../../assets/images/menu_icons/upload.png') no-repeat #f58122;
    background-size: auto 70%;
    background-position: 10px 5px;
      }
      .upload_btn:disabled:hover{
        background: url('../../../assets/images/menu_icons/upload_white.png') no-repeat #f58122;
    background-size: auto 70%;
    background-position: 10px 5px;
      }

    @media (max-width: 300px) {
    button {
    width: 100%;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
    }
    
    .file-info {
    display: block;
    margin: 10px 5px;
    }

  }
.table-bordered {
    border:none !important;
  }
 tr th {
   border-right: 1px solid #dee2e6;
 }
.leftOnly {
  border-left: 1px solid #dee2e6;
 }
.my-custom-class {
  width: 1000px !important; 
  background-color: white;
  color:black;
 }
.tooltip-inner {
  background-color: white;
  color:black;
  font-size: 10px;
  max-width: 100%;
 }
 .loader_cntnr{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: rgba(255, 255, 255, 0.7);
  z-index: 99999;
}
.loader_cntnr img{
	width: 100px;
    height: 100px;
    position: absolute;
    margin: 40vh 47%;
    display: block;
}
 @media (max-width: 576px) {
  .uploadBtn_sctn{
    float: right;
    padding: 0 15px 0 0;
  }
 }
