    .input-container {
    margin: 3em auto;
    background-color: silver;
    border: 1px solid #DFDFDF;
    border-radius: 6px;
    }
    
    input[type='file'] {
    display: none;
   
    }
    
    .file-info {
    font-size: 0.9em;
    }
    
    .browse-btn {
    /* background: rgb(181,122,40); */
    color: white;
    min-height: 35px;
    padding: 10px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    }
    
    .browse-btn:hover {
    background: #000;
    }
    .btn{
        padding-right: 50px;
        padding-left: 50px;  
        position: center;
      }
     
      .UplBtn{
        background-color: chocolate;
        color:white;
      }
  
   

    @media (max-width: 300px) {
    button {
    width: 100%;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
    }
    
    .file-info {
    display: block;
    margin: 10px 5px;
    }

  }