
 <div class="container">
  <div class="row mr-5">   
    <div class="col-md-12"  >
       
      <div class="input-container" >
        <input type="file" ng2FileSelect [uploader]="uploader" accept=""  #file accept=".xlsx, .xls, .csv">
          <button class="browse-btn" (click)="file.click()">
            Upload Files
          </button>

        <span class="file-info" *ngFor="let item of uploader.queue">{{ item?.file?.name }}</span>
      </div>
    </div>
</div>
<div class="row mr-5">
  <div class="col-md-12 text-center">
    
    <button type="button" class="btn btn-s UplBtn" 
(click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
<span class="glyphicon glyphicon-upload"></span> SUBMIT
</button> 
</div>
</div>
 </div>
 

