
<div class="container-fluid">
    <div class="row">
        <div class="dotted_border"></div>
        <div class="top_brdr"></div>
        <nav class="navbar navbar-dark sticky-top flex-md-nowrap p-0">
            <a class="navbar-brand col-sm-3 col-md-2 mr-0 brand_logo" href="#"></a>
            <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                    
                </li>
            </ul>
            <div ngbDropdown placement="top-right" class="d-inline-block">
                <button class="btn " id="dropdownBasic2" ngbDropdownToggle><i class="fa fa-cog fa-spin  fa-fw"></i>Settings</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic2" class="drpdown">
                 
                  <button ngbDropdownItem>Reset Password</button>
                  <button ngbDropdownItem (click)="logout()" routerLinkActive="router-link-active" >Logout</button>
                </div>
            </div>
        </nav>
    </div>
  </div>


  