
<div class="container-fluid">
    <div class="row">
        <div class="dotted_border"></div>
        <div class="top_brdr"></div>
        <nav class="navbar navbar-dark sticky-top flex-md-nowrap p-0">
            <a class="navbar-brand col-sm-3 col-md-2 mr-0 brand_logo" href="#"></a>
  
            <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
            <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                    <a class="nav-link logOut" (click)="logout()">Logout</a>
                </li>
            </ul>
        </nav>
    </div>
  </div>