<div class="forgot_cntnr">
        <div class="col">
                <form [formGroup]="passwordUpdate" class="customise" (ngSubmit)="forgot()">
                        <div class="logo p-5">
                            <img src="assets/images/lapp_logo.png" alt="LAPP" />
                        </div>     
                        <h3 class="p-5">{{'passwordupdate' | translate}}</h3>
                        <div class="row">
                            <div class="col-md-5 pl-4 mt-1 pr-0 text-center">
                                <label class="font" for="newPwd">{{'newpassword'| translate}}</label>
                            </div>
                            <div class="col-md-6 pl-0 pr-0 form-group">
                                <input type="password" formControlName="newPwd" class="form-control" maxlength="60" placeholder="Enter New Password" required/>
                                <div *ngIf="passwordUpdate.controls.newPwd.invalid && (passwordUpdate.controls.newPwd.dirty || passwordUpdate.controls.newPwd.touched)" class="text-danger">
                                    <div *ngIf="passwordUpdate.controls.newPwd.errors.required">{{'newpasswordrequired'| translate}}</div>     
                                </div>
                            </div>   
                        </div>

                        <div class="row">
                                <div class="col-md-5 pl-4 mt-1 pr-0 text-center">
                                    <label class="font" for="confirmPwd">{{'confirmpassword'| translate}}</label>
                                </div>
                                <div class="col-md-6 pl-0 pr-0 form-group">
                                    <input type="password" formControlName="confirmPwd" class="form-control" maxlength="60" placeholder="Enter Conform Password" required/>
                                    <div *ngIf="passwordUpdate.controls.confirmPwd.invalid && (passwordUpdate.controls.confirmPwd.dirty || passwordUpdate.controls.confirmPwd.touched)" class="text-danger">
                                        <div *ngIf="passwordUpdate.controls.confirmPwd.errors.required">{{'Conform Password Required'| translate}}</div>     
                                        <div *ngIf="passwordMatcher">{{'confirmpasswordvalidation'| translate}}</div>
                                    </div>
                                </div>   
                            </div>

                        <div class="row">
                            <div class="col-md-12 p-5 text-center">
                                <button [disabled]="passwordUpdate.pristine || passwordUpdate.invalid"  (click)="updatePassword()" class="btn btn-warning">{{'submit'| translate}}</button>
                            </div>
                        </div>
                    </form>
        </div>
        
    </div>
    
    