.customise{
    margin-top: 30px;
    border: 1px solid rgb(151, 132, 97);
}
.font{
    font-size: 15px;
}
.forgot_cntnr{
    display: block;
    background: #fcf7f5;
    padding: 20px;
    max-width: 600px;
    margin: 9% auto;
    border-radius: 5px;
  }