<div class="login_holder">
        <div class="container-fluid h-100">
            <!-- header -->
            <div class="row">
                <div class="col">
                    <div class="header">
                        <a [routerLink]="['/login']">
                        <div class="logo">
                            <img src="assets/images/lapp_logo.png" alt="LAPP" />
                        </div>
                    </a>
                    </div>
                </div>
            </div>

        <!-- contents -->
        <div class="row h-80">
                <div class="col my-auto">
    
<div class="forgot_cntnr">
    <div class="col">
            <h2 class="text-center font-weight-bold">{{'passwordupdate' | translate}}</h2>
            <br />
        <form [formGroup]="passwordUpdate" class="customise">
            <div class="row">
                <div class="col text-center">
                    <div *ngIf="successMsg" class="alert alert-success alert-dismissible" data-auto-dismiss
                        role="alert">
                        <button class="close" aria-label="close" data-dismiss="alert">&times;</button>
                        <span id="alertMsg">{{successMsg}}</span>
                    </div>
                    <div *ngIf="errorMsg" class="alert alert-danger alert-dismissible" data-auto-dismiss role="alert">
                        <button class="close" aria-label="close" data-dismiss="alert">&times;</button>
                        <span id="alertErrMsg">{{errorMsg}}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col form-group">
                        <label class="font" for="newPwd">{{'newpassword'| translate}}</label>
                    <input type="password" formControlName="newPwd" class="form-control" maxlength="60"
                        placeholder="{{'enternewpassword'| translate}}" required />
                    <div *ngIf="passwordUpdate.controls.newPwd.invalid && (passwordUpdate.controls.newPwd.dirty || passwordUpdate.controls.newPwd.touched)"
                        class="text-danger">
                        <div *ngIf="passwordUpdate.controls.newPwd.errors.required">{{'newpasswordrequired'| translate}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col form-group">
                        <label class="font" for="confirmPwd">{{'confirmpassword'| translate}}</label>
                    <input type="password" formControlName="confirmPwd" class="form-control" maxlength="60"
                        placeholder="{{'enterconfirmpwd'| translate}}" required />
                    <div *ngIf="passwordUpdate.controls.confirmPwd.invalid && (passwordUpdate.controls.confirmPwd.dirty || passwordUpdate.controls.confirmPwd.touched)"
                        class="text-danger">
                        <div *ngIf="passwordUpdate.controls.confirmPwd.errors.required">
                            {{'confirmpasswordrequired'| translate}}</div>
                        <div *ngIf="passwordMatcher">{{'confirmpasswordvalidation'| translate}}</div>
                    </div>
                </div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div *ngIf="flag" class="col text-center">
                    <button routerLink="login" class="btn btn-orange">{{'login'| translate}}</button>
                </div>
                <div class="col text-center">
                    <button [disabled]="passwordUpdate.pristine || passwordUpdate.invalid" (click)="updatePassword()" class="btn btn-orange">{{'submit'| translate}}</button>
                </div>
            </div>
        </form>
    </div>

</div>
</div>
<div class="col text-center d-none d-sm-block my-auto">
    <div class="login_graphic"></div>
    <div class="tagline">
        <span>{{'moderntechnologies'| translate}}</span> {{'foramodernworld'| translate}}&nbsp;
    </div>
</div>
</div>
</div>
</div>