<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <div class="dshbrd_logo mt-0 text-center">
                <img src="../../../assets/images/lapp_logo.png" alt="LAPP" class="rounded" /><br />
                <p>{{'manufactors'| translate}}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <span [routerLink]="['neworders']">
                <div class="dshbrd_icn text-center">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    {{'neworders'| translate}}
                </div>
            </span>
        </div>
        <div class="col">
            <span [routerLink]="['updatedorders']">
                <div class="dshbrd_icn text-center">
                    <i class="fa fa-pencil-square" aria-hidden="true"></i>
                    {{'updateorders'| translate}}
                </div>
            </span>
        </div>
        <div class="col">
            <div class="dshbrd_icn text-center px-0">
                <i class="fa fa-check-square" aria-hidden="true"></i>
                {{'processedorders'| translate}}
            </div>
        </div>
        <div class="col">
            <div class="dshbrd_icn text-center">
                <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                {{'previousorders' | translate}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="dshbrd_icn text-center">
                <i class="fa fa-download" aria-hidden="true"></i>
                {{'DownloadExcel'| translate}}
            </div>
        </div>
        <div class="col">
            <span [routerLink]="['profile']">
                <div class="dshbrd_icn text-center">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    {{'profile'| translate}}
                </div>
            </span>

        </div>
        <div class="col">
            <div class="dshbrd_icn text-center">
                <i class="fa fa-users" aria-hidden="true"></i>
                {{'Userapprovals' | translate}}
            </div>
        </div>
        <div class="col">
            <span [routerLink]="['createuser']">
                <div class="dshbrd_icn text-center">
                    <i class="fa fa-user-plus" aria-hidden="true"></i>
                    {{'Createusers' | translate}}
                </div>
            </span>
        </div>
    </div>

</div>