
<div class="container-fluid"  >

    <div class="row">
        <div class="col-md-12">
            <div class="dshbrd_logo text-center">
                <img src="../../../assets/images/lapp_logo.png" alt="LAPP" class="rounded" /><br/>
                <p>Leading manufacturer of industrial cables, connectors and cable accessories</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="dshbrd_icn text-center">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                New Orders
            </div>
        </div>
        <div class="col">
            <div class="dshbrd_icn text-center">
                <i class="fa fa-pencil-square" aria-hidden="true"></i>
                Updated Orders
            </div>
        </div>
        <div class="col">
            <div class="dshbrd_icn text-center">
                <i class="fa fa-check-square" aria-hidden="true"></i>
                Processed Orders
            </div>
        </div>
        <div class="col">
            <div class="dshbrd_icn text-center">
                <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                Previous Orders
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="dshbrd_icn text-center">
                <i class="fa fa-download" aria-hidden="true"></i>
                Download Excel
            </div>
        </div>
        <div class="col">
            <div class="dshbrd_icn text-center">
                <i class="fa fa-user" aria-hidden="true"></i>
                Profile
            </div>
        </div>
        <div class="col">
            <div class="dshbrd_icn text-center">
                <i class="fa fa-users" aria-hidden="true"></i>
                User Approvals
            </div>
        </div>
        <div class="col">
            <div class="dshbrd_icn text-center">
                <i class="fa fa-user-plus" aria-hidden="true"></i>
                Create Users
            </div>
        </div>
    </div>
  
  </div>