/* You can add global styles to this file, and also import other style files */

@import "~ngx-easy-table/style.scss";
@import '~handsontable/dist/handsontable.full.css';
.test li.active {
    width: 100%;
    background-color: red!important;
  }
   
  .test li {
    color: blue;
  }