/* You can add global styles to this file, and also import other style files */

@import "~ngx-easy-table/style.scss";
@import '~handsontable/dist/handsontable.full.css';

.test li.active {
    width: 100%;
    background-color: red!important;
  }
   
  .test li {
    color: blue;
  }


  html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #000;
    background: #f5f5f5;
    padding: 0;
    margin: 0;
}

a{
  cursor: pointer;
}

/* common styles start */
.logo {
  width: 200px;
  height: 50px;
  float: left;
}
.logo img{
  width: 100%;
  display: block;
}
.orange_clr{
  color: #f58122 !important;
}
.btn{
  padding: 0.5rem 2rem;
}
.btn-orange {
  color: #fff !important;
  background-color: #f58122;
  border-color: #f58122;
}
.page_heading{
  padding: 5px 0 0 50px;
  margin: 0 0 20px 0;
  font-size: 1.8rem;
  font-weight: bold;
}
.page_heading.dashboard{
  background: url('assets/images/dashboard.png') no-repeat;
  background-size: contain;
}
.card{
  border: none;
}
.card .card-title{
  color: #ed7a2d;
  font-size: 1.8rem;
}
#content {
  width: calc(100% - 250px);
  padding: 0px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}

#content.active {
  width: 100%;
}
/* common styles end */

/*navigation start*/
.navbar{
  display: block;
  padding: 0;
  margin: 0;
  background: #fff;
    padding: 15px;
}
.navbar-brand{
  font-size: 20px;
  color: #000;
}
.wrapper {
  display: flex;
  width: 100%;
}
#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}


#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #fff;
  background: #6d7fcc;
}
ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

#sidebar .sidebar-header {
  padding: 15px 0 0 15px;
  display: inline-block;
}

#sidebar ul.components {
  padding: 15px;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li{
  padding: 10px 0;
}
#sidebar ul li a {
  padding: 10px;
  font-size: 1.4em;
  display: block;
  color: #000;
  line-height: 20px;
}
#sidebar ul li a:hover {
  color: #f08843;
  text-decoration: none;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #fff;
  background: #6d7fcc;
}
ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}
#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
}
#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: #fff;
  color: #fff;
  transition: all 0.3s;
}
#sidebar.active {
  margin-left: -250px;
  /* transform: rotateY(100deg); */
}
@media (max-width: 768px) {
  #sidebar {
      margin-left: -250px;
  }
  #sidebar.active {
      margin-left: 0;
  }
}
#content {
  width: calc(100% - 250px);
  padding: 0px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}

#content.active {
  width: 100%;
}

.user_cntnt{
  padding: 0 0 0 45px;
  // background: url('../images/dp.png') no-repeat;
  background-position: center left;
  background-size: contain;
  display: block;
  height: 40px;
  line-height: 16px;
  font-weight: bold;
  margin: 0 15px 0 0;
}
.user_cntnt .user_lbl{
  display: block;
  color: #707070;
}
.user_cntnt .user_name{
  color: #000;
}
#header_dd{
  cursor: pointer;
}
#header_dd.dropdown{
  margin: 3px 0 5px;
  font-size: 16px;
}

.dropdown-item:hover{
  color: #f08843 !important;
  text-decoration: none;
}

@media (max-width: 768px) {
  #sidebar {
      margin-left: -250px;
  }
  #sidebar.active {
      margin-left: 0;
  }
  #content {
      width: 100%;
  }
  #content.active {
      width: calc(100% - 250px);
  }
  #sidebarCollapse span {
      display: none;
  }
}
/*navigation end*/

/*footer start*/
.cntnt_footer{
  background: #fff;
  position: absolute;
  bottom: 0;
}
.footer{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 98%;
  display: inline-block;
}
.footer_links{
  display: inline-block;
  margin: 4px 0 0 0;
  padding: 0;
  list-style: none;
}
.footer_links li{
  float: left;
  margin: 0 10px;
}
.footer_links li a{
  color: #000;
}
/*footer end*/
