<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <div class="dshbrd_logo mt-0 text-center">
                <img src="../../../assets/images/lapp_logo.png" alt="LAPP" class="rounded" /><br />
                <p>{{'manufactors'| translate}}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <span [routerLink]="['neworders']">
                <div class="dshbrd_icn text-center">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    {{'neworders'| translate}}
                </div>
            </span>
        </div>
        <div class="col">
            <div class="dshbrd_icn text-center">
                <i class="fa fa-pencil-square" aria-hidden="true"></i>
                {{'updateorders'| translate}}
            </div>
        </div>
        <div class="col">
            <div class="dshbrd_icn text-center">
                <i class="fa fa-check-square" aria-hidden="true"></i>
                {{'processedorders'| translate}}
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col">
            <div class="dshbrd_icn text-center">
                <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                {{'previousorders'| translate}}
            </div>
        </div>
        <div class="col">
            <div class="dshbrd_icn text-center">
                <i class="fa fa-download" aria-hidden="true"></i>
                {{'DownloadExcel'| translate}}
            </div>
        </div>
        <div class="col">
            <span [routerLink]="['profile']">
                <div class="dshbrd_icn text-center">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    {{'profile'| translate}}
                </div>
            </span>
        </div>
        <!-- <div class="col">
            <div class="dshbrd_icn text-center">
                <i class="fa fa-users" aria-hidden="true"></i>
                {{'Userapprovals'| translate}}
            </div>
        </div> -->
        <!-- <div class="col">
            <div class="dshbrd_icn text-center">
                <i class="fa fa-user-plus" aria-hidden="true"></i>
                Create Users
            </div>
        </div> -->
    </div>

</div>
<!-- Reset Password Modal -->
<ng-template #resetPWD let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{'resetpassword'| translate}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="justify-content-center">
            <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
                <div class="row">
                    <div class="col-md-12 form-group">
                        <label>{{'oldpassword'| translate}}</label>
                        <input formControlName="oldPwd" class="form-control" type="password"
                            [ngClass]="{ 'is-invalid': submitted && resetForm.controls.oldPwd.errors }" required>
                        <div *ngIf="submitted && resetForm.controls.oldPwd.errors" class="text-danger">
                            <div *ngIf="resetForm.controls.oldPwd.errors.required">{{'oldpasswordrequired'| translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <label>{{'newpassword' | translate}}</label>
                        <input type="password" formControlName="newPwd" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && resetForm.controls.newPwd.errors }" required>
                        <div *ngIf="submitted && resetForm.controls.newPwd.errors" class="text-danger">
                            <div *ngIf="resetForm.controls.newPwd.errors.required">{{'newpasswordrequired'| translate}}
                            </div>
                            <div *ngIf="resetForm.controls.newPwd.errors.minlength">{{'passwordlength'| translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <label>{{'confirmpassword'| translate}}</label>
                        <input type="password" formControlName="confirmPwd" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && resetForm.controls.confirmPwd.errors }" required>
                        <div *ngIf="submitted && resetForm.controls.confirmPwd.errors" class="text-danger">
                            <div *ngIf="resetForm.controls.confirmPwd.errors.required">
                                {{'confirmpasswordrequired'| translate}}</div>
                            <div *ngIf="resetForm.controls.confirmPwd.errors.passwordMatcher">
                                {{'confirmpasswordvalidation'| translate}}</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center mt-3">
                        <button class="btn btn-warning">{{'resetpassword'| translate}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</ng-template>