<div class="row">
    <div class="col">
        <div class="dashboard_cntnts">
            <h2 class="page_heading dashboard">Dashboard</h2>

            <div class="row">
                <div class="col">
                    <span [routerLink]="['neworders']">
                    <div class="cntnt_box box1">
                        <h5>{{'neworders'| translate}}</h5>
                    </div>
                </span>
                </div>
                <div class="col">
                    <div class="cntnt_box box2">
                        <h5>{{'updateorders'| translate}}</h5>
                    </div>
                </div>
                <div class="col">
                    <div class="cntnt_box box3">
                        <h5>{{'processedorders'| translate}}</h5>
                    </div>
                </div>
                <div class="col">
                    <div class="cntnt_box box1">
                        <h5>{{'previousorders' | translate}}</h5>
                    </div>
                </div>
            </div>

            <div class="row">&nbsp;</div>

            <div class="row">
                <div class="col">
                    <div class="cntnt_box box1">
                        <h5>{{'DownloadExcel'| translate}}</h5>
                    </div>
                </div>
                <div class="col">
                    <span [routerLink]="['profile']">
                    <div class="cntnt_box box2">
                        <h5>{{'profile'| translate}}</h5>
                    </div>
                    </span>
                </div>
                <div class="col">
                    <div class="cntnt_box box3">
                        <h5>{{'Userapprovals'| translate}}</h5>
                    </div>
                </div>
                <div class="col">
                    <div class="cntnt_box box1">
                        <h5>{{'Createusers' | translate}}</h5>
                    </div>
                </div>
                <div class="col-3">
                    <img src="../../../assets/images/latest_products.jpg" alt="LAPP" class="img-fluid rounded" />
                </div>
            </div>

        </div>
    </div>
</div>
<ng-template let-c="close" let-d="dismiss">
    <reset-password (close)="handle($event)"></reset-password>
</ng-template>
