<div class="row">
    <div class="col">
        <div class="dashboard_cntnts">
            <h2 class="page_heading dashboard">Dashboard</h2>

            <div class="row">
                <div class="col">
                    <span [routerLink]="['neworders']">
                        <div class="cntnt_box box1">
                            <h5>{{'neworders'| translate}}</h5>
                        </div>
                    </span>
                </div>
                <div class="col">
                    <div class="cntnt_box box2">
                        <h5>{{'updateorders'| translate}}</h5>
                    </div>
                </div>
                <div class="col">
                    <div class="cntnt_box box3">
                        <h5>{{'processedorders'| translate}}</h5>
                    </div>
                </div>
                <div class="col">
                    <div class="cntnt_box box1">
                        <h5>{{'previousorders' | translate}}</h5>
                    </div>
                </div>
            </div>

            <div class="row">&nbsp;</div>

            <div class="row">
                <div class="col">
                    <div class="cntnt_box box1">
                        <h5>{{'DownloadExcel'| translate}}</h5>
                    </div>
                </div>
                <div class="col">
                    <span [routerLink]="['profile']">
                        <div class="cntnt_box box2">
                            <h5>{{'profile'| translate}}</h5>
                        </div>
                    </span>
                </div>
                <div class="col">
                    <div class="cntnt_box box3">
                        <h5>{{'Userapprovals'| translate}}</h5>
                    </div>
                </div>
                <div class="col">
                    <div class="cntnt_box box1">
                        <h5>{{'Createusers' | translate}}</h5>
                    </div>
                </div>
                <div class="col-3">
                    <img src="../../../assets/images/latest_products.jpg" alt="LAPP" class="img-fluid rounded" />
                </div>
            </div>

        </div>
    </div>
</div>

<div *ngIf="showResetPopUp" class="dashboard_reset_popup">
    <div class="popup_body">
<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{'resetpassword'| translate}}<br/><small class="title-small">Please reset your password</small></h4>
    <!-- <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button> -->
</div>
<div *ngIf="resetMessage != ''"  [ngClass]="{'alert alert-success':!isErrorMessage,'alert alert-danger':isErrorMessage}" role="alert">
    {{resetMessage}}
  </div>
<div class="modal-body">
    <div class="justify-content-center">
        <form [formGroup]="resetForm">
            <div class="row">
                <div class="col-md-12 form-group">
                    <label>{{'oldpassword'| translate}}</label>
                    <input formControlName="oldPwd" class="form-control" type="password" required>
                    <div *ngIf="resetForm.controls.oldPwd.invalid && (resetForm.controls.oldPwd.dirty || resetForm.controls.oldPwd.touched)"
                        class="text-danger">
                        <div *ngIf="resetForm.controls.oldPwd.errors.required">{{'oldpasswordrequired'| translate}}</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <label>{{'newpassword'| translate}}</label>
                    <input type="password" formControlName="newPwd" class="form-control" required (keypress)="scorePassword()">
                    <div *ngIf="resetForm.controls.newPwd.invalid && (resetForm.controls.newPwd.dirty || resetForm.controls.newPwd.touched)"
                        class="text-danger">
                        <div *ngIf="resetForm.controls.newPwd.errors.required">{{'newpasswordrequired'| translate}}</div>
                        <div *ngIf="resetForm.controls.newPwd.errors.minlength">{{'passwordlength'| translate}}</div>
                        <div *ngIf="resetForm.hasError('Same')">Old & New Password must not be the Same</div>
                    </div>
                    <!-- <div class="progress">
                        <div class="progress-bar bg-danger" [style.width.%]="passwordStrength"></div>
                    </div> -->
                    <div [style.color]="strColor">{{strText}}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <label>{{'confirmpassword'| translate}}</label>
                    <input type="password" formControlName="confirmPwd" class="form-control" required>
                    <div *ngIf="resetForm.controls.confirmPwd.invalid && (resetForm.controls.confirmPwd.dirty || resetForm.controls.confirmPwd.touched)"
                        class="text-danger">
                        <div *ngIf="resetForm.controls.confirmPwd.errors.required">{{'confirmpasswordrequired'| translate}}</div>
                        <div *ngIf="passwordMatcher">{{'confirmpasswordvalidation'| translate}}</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center mt-3">
                    <button class="btn btn-warning" [disabled]="resetForm.pristine || resetForm.invalid" (click)="resetPassword()"> {{'resetpassword'| translate}}</button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
</div>
