<h2 class="page_heading prcsd_order">{{'processedorders'| translate}}</h2>
<div class="row">
    <div class="col">
            <div class="table table-bordered table-striped">
        <ngx-table [configuration]="configuration" [data]="data" [columns]="columns"></ngx-table>
        <ul class="pagination">
            <!-- <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item first-item">
                <a (click)="loadPage(page=1)"  class="page-link">First</a>
            </li> -->
            <li [ngClass]="{disabled:page === 1}" class="page-item previous-item">
                <a (click)="loadPage(page = page - 1)" class="page-link">Previous << </a>
            </li>
            <!-- <li [ngClass]="{active:page === 1 }" class="page-item number-item">
                <a (click)="loadPage(page = 1)" class="page-link">1</a>
            </li>
            <li [ngClass]="{active:page === 2}" class="page-item number-item">
                <a (click)="loadPage(page = 2)" class="page-link">2</a>
            </li>
            <li class="page-item next-item">
                <a (click)="loadPage(page = page + 1)" class="page-link">....</a>
            </li> -->
            <li class="page-item next-item">
                <a (click)="loadPage(page = page + 1)" class="page-link"> >> Next</a>
            </li>
            <!-- <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item last-item">
                <a (click)="loadPage(page= pager.totalPages)"  class="page-link">Last</a>
            </li> -->
        </ul>
            </div>
    </div>
</div>
<ng-template #ver let-row let-rowIndex="rowIndex">
        <!-- <button class="btn btn-md btn-primary ml-4" id="verbasedata" (click)="orderview(row, rowIndex)" ><i class="fa fa-eye" aria-hidden="true"></i></button> -->
        <a class="ml-2" (click)="porcessedview(row, rowIndex)">
            <i class="fa fa-eye" aria-hidden="true"></i>
        </a>
    </ng-template>