.download_btn{
    background: url('../../../assets/images/menu_icons/download.png') no-repeat #f58122;
    background-size: auto 70%;
    background-position: 10px 5px;
    padding: 4px 15px 4px 35px;
    float: left;
  }
.inpWidth input {
  width: 300px;
}
.search {
  margin-left: -40px;
}
#search_bar input{
width: 250px;
}