<div class="row">
    <div class="col">
        <h2 class="page_heading dashboard">Create users</h2>
    </div>
</div>

<div *ngIf="msg" class="alert alert-success alert-dismissible" data-auto-dismiss role="alert">
    <button class="close" aria-label="close" data-dismiss="alert">&times;</button>
    <span id="alertMsg">{{msg}}</span>
</div>
<div *ngIf="errorMsg" class="alert alert-danger alert-dismissible" data-auto-dismiss role="alert">
    <button class="close" aria-label="close" data-dismiss="alert">&times;</button>
    <span id="alertErrMsg">{{errorMsg}}</span>
</div>
<!-- <div *ngIf="msg" class="alert alert-success" role="alert">
    {{msg}}
  </div>
  <div *ngIf="errorMsg" class="alert alert-danger" role="alert">
    {{errorMsg}}
</div> -->

<form [formGroup]="customerForm" #form="ngForm">

        <div class="row">
            <div class="col">
                <div class="form-group custom_form-group">
                    <label for="">First Name</label>
                    <input type="text" id="" placeholder="First Name" formControlName="fname" maxlength="60"
                        class="form-control" required />
                    <div *ngIf="customerForm.controls.fname.invalid && (customerForm.controls.fname.dirty || customerForm.controls.fname.touched)"
                        class="text-danger">
                        <div *ngIf="customerForm.controls.fname.errors.required" class="custom">
                            {{'firstnamerequired'| translate}}
                        </div>
                        <div *ngIf="customerForm.controls.fname.errors.pattern" class="custom">
                                {{'characters'| translate}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group custom_form-group">
                    <label for="">Last Name</label>
                    <input type="text" class="form-control" id="" placeholder="Last Name" formControlName="lname"
                        maxlength="60" required />
                    <div *ngIf="customerForm.controls.lname.invalid && (customerForm.controls.lname.dirty || customerForm.controls.lname.touched)"
                        class="text-danger">
                        <div *ngIf="customerForm.controls.lname.errors.required" class="custom">
                            {{'lastnamerequired'| translate}}
                        </div>
                        <div *ngIf="customerForm.controls.lname.errors.pattern" class="custom">
                            {{'characters'| translate}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col">
                <div class="form-group custom_form-group">
                    <label for="">Email Id</label>
                    <input placeholder="Email Id" formControlName="email" class="form-control" maxlength="60" type="text"
                        required />
                    <div *ngIf="customerForm.controls.email.invalid && (customerForm.controls.email.dirty || customerForm.controls.email.touched)"
                        class="text-danger">
                        <div *ngIf="customerForm.controls.email.errors.required" class="custom">
                            {{'emailrequired'| translate}}
                        </div>
                        <div *ngIf="customerForm.controls.email.errors.email" class="custom">{{'emailvalid'| translate}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group custom_form-group">
                    <label for="">User id</label>
                    <input placeholder="User id" type="text" class="form-control" maxlength="60" formControlName="userid"
                        required />
                    <div *ngIf="customerForm.controls.userid.invalid && (customerForm.controls.userid.dirty || customerForm.controls.userid.touched)"
                        class="text-danger">
                        <div *ngIf="customerForm.controls.userid.errors.required" class="custom">
                            {{'useridrequired'| translate}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col">
                <div class="form-group custom_form-group">
                    <label for="">Country</label>
                    <input type="text" class="form-control" formControlName="country" [(ngModel)]="country"
                        (click)="countryclear()" (change)="getState()" placeholder="Country" list="codes" step="5" min="5"
                        max="200" required />
                    <datalist id="codes">
                        <select class="scrollbar">
                            <option *ngFor="let item of countryData" [value]="item.CountryName"></option>
                        </select>
                    </datalist>
                    <div *ngIf="customerForm.controls.country.invalid && (customerForm.controls.country.dirty || customerForm.controls.country.touched)"
                    class="text-danger">
                    <div *ngIf="customerForm.controls.country.errors.required" class="custom">
                        {{'selectcountry'| translate}}
                    </div>
                </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group custom_form-group">
                    <label for="">State</label>
                    <input type="text" class="form-control" formControlName="State" [(ngModel)]="state"
                        (click)="stateClear()" (change)="getCities()" placeholder="State" list="statecodes" step="5" min="5"
                        max="200" required />
                    <datalist id="statecodes">
                        <select class="scrollbar">
                            <option *ngFor="let item of stateData" [value]="item.StateName"></option>
                        </select>
                    </datalist>
                    <div *ngIf="customerForm.controls.State.invalid && (customerForm.controls.State.dirty || customerForm.controls.State.touched)"
                    class="text-danger">
                    <div *ngIf="customerForm.controls.State.errors.required" class="custom">
                        {{'selectstate'| translate}}
                    </div>
                </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group custom_form-group">
                    <label for="">City</label>
                    <input type="text" class="form-control" formControlName="City" [(ngModel)]="city" (click)="cityClear()"
                        placeholder="City" list="citycodes" step="5" min="5" max="200" required />
                    <datalist id="citycodes">
                        <select class="scrollbar">
                            <option *ngFor="let item of citiesData" [value]="item"></option>
                        </select>
                    </datalist>
                    <div *ngIf="customerForm.controls.City.invalid && (customerForm.controls.City.dirty || customerForm.controls.City.touched)"
                    class="text-danger">
                    <div *ngIf="customerForm.controls.City.errors.required" class="custom">
                        {{'selectcity'| translate}}
                    </div>
                </div>
                </div>
            </div>
        </div>
    
    
        <div id="country" class="row">
            <!-- <div class="col-md-3 mr-5 form-group">
                <input type="text" class="form-control" formControlName="country" [(ngModel)]="country"
                    (click)="countryclear()" (change)="getState()" placeholder="Country" list="codes" step="5" min="5"
                    max="200" required />
                <datalist id="codes">
                    <select class="scrollbar">
                        <option *ngFor="let item of countryData" [value]="item.CountryName"></option>
                    </select>
                </datalist>
            </div> -->
    
            <!-- <div class="col-md-3 ml-4 mr-4 form-group">
                <input type="text" class="form-control" formControlName="State" [(ngModel)]="state" (click)="stateClear()"
                    (change)="getCities()" placeholder="State" list="statecodes" step="5" min="5" max="200" required />
                <datalist id="statecodes">
                    <select class="scrollbar">
                        <option *ngFor="let item of stateData" [value]="item.StateName"></option>
                    </select>
                </datalist>
    
            </div>
    
            <div class="col-md-3 ml-5 form-group">
                <input type="text" class="form-control" formControlName="City" [(ngModel)]="city" (click)="cityClear()"
                    placeholder="City" list="citycodes" step="5" min="5" max="200" required />
                <datalist id="citycodes">
                    <select class="scrollbar">
                        <option *ngFor="let item of citiesData" [value]="item"></option>
                    </select>
                </datalist>
            </div> -->
        </div>
    
        <div class="row">
            <div class="col">
                    <div class="form-group custom_form-group">
                            <label for="">Phone Number</label>
                            <input placeholder="Phone Number" type="text" class="form-control" maxlength="12" formControlName="phone" required />
                            <div *ngIf="customerForm.controls.phone.invalid && (customerForm.controls.phone.dirty || customerForm.controls.phone.touched)"
                                class="text-danger">
                                <div *ngIf="customerForm.controls.phone.errors.required" class="custom">
                                    {{'phonenumberrequired'| translate}}</div>
                                <div *ngIf="customerForm.controls.phone.errors.pattern" class="custom">
                                    {{'phonenumbervalid' | translate}}</div>
                                <div *ngIf="customerForm.controls.phone.errors.minlength" class="custom">
                                    {{'phonenumberdigit'| translate}}</div>
                            </div>
                        </div>
            </div>
            <div class="col">
                    <div class="form-group custom_form-group">
                    <label for="">User Type</label>
                    <input type="text" class="form-control" formControlName="usertype" [(ngModel)]='usertype' (click)="clear()"
                        placeholder="User Type" list="usertypecodes" step="5" min="5" max="200" required />
                    <datalist id="usertypecodes">
                        <select class="scrollbar">
                            <option *ngFor="let item of usertypeData" [value]="item.type"></option>
                        </select>
                    </datalist>
                    <div *ngIf="customerForm.controls.usertype.invalid && (customerForm.controls.usertype.dirty || customerForm.controls.usertype.touched)"
                        class="text-danger">
                        <div *ngIf="customerForm.controls.usertype.errors.required" class="custom">
                            {{'usertyperequired'| translate}}</div>
                    </div>
                    </div>
            </div>
        </div>
    
        <!-- <div class="row">
            <div class="col-md-6 form-group">
    
                <input placeholder="Phone Number" type="text" class="form-control" maxlength="12" formControlName="phone" required />
                <div *ngIf="customerForm.controls.phone.invalid && (customerForm.controls.phone.dirty || customerForm.controls.phone.touched)"
                    class="text-danger">
                    <div *ngIf="customerForm.controls.phone.errors.required" class="custom">
                        {{'phonenumberrequired'| translate}}</div>
                    <div *ngIf="customerForm.controls.phone.errors.pattern" class="custom">
                        {{'phonenumbervalid' | translate}}</div>
                    <div *ngIf="customerForm.controls.phone.errors.minlength" class="custom">
                        {{'phonenumberdigit'| translate}}</div>
                </div>
            </div>
            <!-- <div class="col-md-6 form-group">
                        <input placeholder="Reference Code" type="text" class="form-control" formControlName="referncecode" [ngClass]="{ 'is-invalid': submitted && customerForm.controls.referncecode.errors }" required>
                        <div *ngIf="submitted && customerForm.controls.referncecode.errors" class="text-danger">
                              <div *ngIf="customerForm.controls.referncecode.errors.required" class="custom">Reference Code is required</div>
                          </div>
                </div>  -->
    <!--        <div class="col-md-6  form-group">
                <input type="text" class="form-control" formControlName="usertype" [(ngModel)]='usertype' (click)="clear()"
                    placeholder="User Type" list="usertypecodes" step="5" min="5" max="200" required />
                <datalist id="usertypecodes">
                    <select class="scrollbar">
                        <option *ngFor="let item of usertypeData" [value]="item.type"></option>
                    </select>
                </datalist>
                <div *ngIf="customerForm.controls.usertype.invalid && (customerForm.controls.usertype.dirty || customerForm.controls.usertype.touched)"
                    class="text-danger">
                    <div *ngIf="customerForm.controls.usertype.errors.required" class="custom">
                        {{'usertyperequired'| translate}}</div>
                </div>
            </div>
        </div> -->
    
        <div id="createUser" class="row">
            <div class="col">
                <button (click)="formSubmit()" [disabled]="customerForm.pristine || customerForm.invalid" class="btn btn-orange">{{'submit'| translate}}</button>
            </div>
        </div>
    
    </form>

    <div class="row">
        <div class="col-md-4"></div>
<div class="col-md-2">
        <input type="text" [(ngModel)]="emailId" class="form-control" (keyup)="search($event)" placeholder="Enter the Email Id">
</div>
<div class="col-md-2">
    <button class="btn btn-secondary" (click)="getPerticularUser(emailId)" [disabled]="!emailId">Search</button>
    </div>
    </div>

<div class="row">
    <div class="col">
        <app-ngx-easy-table [configuration]="configuration" [data]="data" [columns]="columns">
        </app-ngx-easy-table>
         <!-- <app-pagination [pager]=pager (clicked)="loadPage($event)"></app-pagination>  -->
    </div>
</div>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-4" *ngIf="downflag===1">
        <button class="btn btn-primary" (click)="download()"  [disabled]="!data || data.length <=0">Download</button>
    </div>

</div>


<ng-template #verdelete let-row let-rowIndex="rowIndex">
    <a class=" ml-4" id="deleteId" (click)="deletefun(row)"><i class="fa fa-trash" aria-hidden="true"></i></a>
</ng-template>


<ng-template #veredit let-row let-rowIndex="rowIndex">
    <a class=" ml-4" id="editId" (click)="editfun(row)"><i class="fa fa-pencil" aria-hidden="true"></i></a>
</ng-template>


<!-- Delete Model -->
<ng-template #deletecontent let-c="close" let-d="dismiss">
    <div class="modal-header">
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h5>{{'Are you sure you want to delete this user ?' | translate}}</h5>
    </div>
    <div class="modal-footer justify-content-between">
      <button type="button" class="btn btn-warning" (click)="d('Cross click')">{{'No' | translate}}</button>
      <button type="button" class="btn btn-warning" (click)="yesDelete()">{{'Yes' | translate}}</button>
    </div>
  </ng-template>

